.list-product-zone {
    margin: 20px;

}

.card {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 20px;
}

.card-header {
    background-color: white;
    border-bottom: 1px dashed #D6D7D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    // overflow-x: auto;
    padding: 0;
}

.table {
    background-color: white;
    border-radius: 10px;
    width: 100%;
}


th {
    color: #2C3751;
    background-color: rgb(248, 245, 245);
    font-weight: 600;
    padding: 8px;
    line-height: 40px;
    /* Thêm padding cho th */
}

td {
    font-weight: 400;
    border-bottom: 1px dashed #D6D7D9;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // max-width: 150px;
}


.card-footer {
    display: flex;
    justify-content: end;
    background-color: white;
    border: none;
    nav {
        ul {

            li {
                a {
                    color: black;
                    border: none;
                    border-top: 1px dashed #D6D7D9;
                    border-bottom: 1px dashed #D6D7D9;

                    &:hover {
                        cursor: pointer;
                        background-color: #8A81C2;
                    }

                    &.active {
                        background-color: #ee0000;
                    }
                }

            }
        }
    }
}

.input-group-text {
    width: 100px;
}