<div class="list-product-zone">
    <div class="card">
        <div class="card-header ">
            <h5 class="title-component">Danh sách sản phẩm</h5>

            <div class="button-group ">
                <button (click)="handleRedirectCreateProduct()" class="btn-custom btn-create"><i
                        class="fa-regular fa-square-plus"></i> Thêm sản phẩm</button>
                <button (click)="handleExportExcel()" class="btn-custom btn-exportexcel"><i
                        class="fa-regular fa-file-excel"></i> Xuất excel</button>
            </div>
        </div>
        <div class="card-body">
            <br>
            <div class="form-search">
                <form>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Tên sản phẩm</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                  </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Danh mục</span>
                                    <select class="form-select" name="" id="">
                                        <option (select)="true" [ngValue]="null">Tất cả</option>
                                        <option *ngFor="let dm of danhMucs" [ngValue]="dm" >{{ dm.tenDanhMuc }}</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group input-group-sm mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Thương hiệu</span>
                                    <select class="form-select" name="" id="">
                                        <option (select)="true" [ngValue]="null">Tất cả</option>
                                        <option *ngFor="let th of thuongHieus" [ngValue]="th" >{{ th.tenThuongHieu }}</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Tất cả</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Đang bán</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">Ngừng bán</label>
                                  </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <button class="btn btn-info">Chọn lại</button>
                                <button class="btn btn-info">Tìm kiếm</button>
                            </div>
                        </div>
                </form>
            </div>
            <br>
            <div class="table-responsive"> <!-- Thêm thẻ div này -->
                <table class="table">
                    <thead>
                        <tr>
                        <th>#</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Danh mục</th>
                        <th>Thương hiệu</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let sanPham of sanPhams">
                        <td>{{ sanPham.idSanPham}}</td>
                        <td>{{ sanPham.tenSanPham}}</td>
                        <td>0</td>
                        <td>{{ sanPham.danhMuc?.tenDanhMuc}}</td>
                        <td>{{ sanPham.thuongHieu?.tenThuongHieu}}</td>
                        <td>
                            <span class="status-tag"> {{ sanPham.trangThai === 'ACTIVE' ? 'Hoạt động' :
                                'Ngừngbán'}}</span>
                        </td>
                        <td>
                            <button (click)="handleDetailProduct(sanPham.idSanPham)" class="btn eye-btn"><i
                                    class="fa-regular fa-eye" title="Chi tiết"></i></button>
                            <button (click)="handleUpdateProduct(sanPham.idSanPham)" class="btn edit-btn"><i
                                    class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i></button>
                        </td>
                    </tr>
                    </tbody>
                   
                </table>
            </div> <!-- Kết thúc thẻ div table-responsive -->
        </div>
        <div class="card-footer">
            <!-- Pagination Buttons -->
            <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="page === 0">
                        <a class="page-link" (click)="changePage(page = 0)" aria-label="Previous">
                            <span aria-hidden="true">Đầu</span>
                        </a>
                    </li>
                    <li class="page-item" [class.disabled]="page === 0">
                        <a class="page-link" (click)="changePage(page - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                        [class.active]="0 === page">
                        <a class="page-link" (click)="changePage(i)">{{ i + 1 }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="page === totalPages - 1">
                        <a class="page-link" (click)="changePage(page + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item" [class.disabled]="page ===  totalPages - 1">
                        <a class="page-link" (click)="changePage(page = totalPages  - 1)" aria-label="Previous">
                            <span aria-hidden="true">Cuối</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
