<div class="list-product-zone">
    <div class="card">
        <div class="card-header">
            <h5 class="title-component">Danh sách sản phẩm</h5>
            <div class="button-group">
                <button (click)="handleRedirectCreateProduct()" class="btn btn-create"><i class="fa-regular fa-square-plus"></i> Thêm sản phẩm</button>
                <button (click)="handleExportExcel()" class="btn btn-exportexcel"><i class="fa-regular fa-file-excel"></i> Xuất excel</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive"> <!-- Thêm thẻ div này -->
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Danh mục</th>
                        <th>Thương hiệu</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                    <tr *ngFor="let sanPham of sanPhams">
                        <td>{{ sanPham.idSanPham}}</td>
                        <td>{{ sanPham.tenSanPham}}</td>
                        <td>0</td>
                        <td>{{ sanPham.danhMuc.tenDanhMuc}}</td>
                        <td>{{ sanPham.thuongHieu.tenThuongHieu}}</td>
                        <td>
                            <span class="status-tag"> {{ sanPham.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừngbán'}}</span>
                        </td>
                        <td>
                            <button (click)="handleDetailProduct(sanPham.idSanPham)" class="btn eye-btn"><i
                                    class="fa-regular fa-eye" title="Chi tiết"></i></button>
                            <button (click)="handleUpdateProduct(sanPham.idSanPham)" class="btn edit-btn"><i
                                    class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i></button>
                        </td>
                    </tr>
                </table>
            </div> <!-- Kết thúc thẻ div table-responsive -->
        </div>
        <div class="card-footer">
             <!-- Pagination Buttons -->
             <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="page === 0">
                        <a class="page-link" (click)="changePage(page = 0)" aria-label="Previous">
                            <span aria-hidden="true">Đầu</span>
                        </a>
                    </li>
                    <li class="page-item" [class.disabled]="page === 0">
                        <a class="page-link" (click)="changePage(page - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                        [class.active]="0 === page">
                        <a class="page-link" (click)="changePage(i)">{{ i + 1 }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="page === totalPages - 1">
                        <a class="page-link" (click)="changePage(page + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item" [class.disabled]="page ===  totalPages - 1">
                        <a class="page-link" (click)="changePage(page = totalPages  - 1)" aria-label="Previous">
                            <span aria-hidden="true">Cuối</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>