<app-loading [hidden]="!loading"></app-loading>

<div [hidden]="loading" class="list-product-zone">

    <div class="card">
        <div class="form-search">
            <p class="title-form">Tìm kiếm</p>
            <form>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-2">
                        <div class="form-group mb-3">
                           <label for="">Mã sản phẩm</label>
                            <input [(ngModel)]="sanPhamSearch.maSanPham" placeholder="Nhập mã sản phẩm" type="text" name="maSanPham" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group mb-3">
                           <label for="">Tên  sản phẩm</label>
                            <input [(ngModel)]="sanPhamSearch.tenSanPham" placeholder="Nhập tên sản phẩm" type="text" name="productName" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group mb-3">
                            <label for="danhMuc">Danh mục</label>
                            <select [(ngModel)]="sanPhamSearch.idDanhMuc" class="form-select" name="idDanhMuc" id="idDanhMuc">
                                <option (select)="true" [ngValue]="null">Tất cả</option>
                                <option *ngFor="let dm of danhMucs" [ngValue]="dm.idDanhMuc">{{ dm.tenDanhMuc }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group mb-3">
                            <label for="thuongHieu">Thương hiệu</label>
                            <select [(ngModel)]="sanPhamSearch.idThuongHieu" class="form-select" name="idThuongHieu" id="idThuongHieu">
                                <option (select)="true" [ngValue]="null">Tất cả</option>
                                <option *ngFor="let th of thuongHieus" [ngValue]="th.idThuongHieu">{{ th.tenThuongHieu }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group mb-3">
                            <label for="thuongHieu">Trạng thái</label>
                            <select class="form-select" name="" id="">
                                <option (select)="true" [ngValue]="null">Tất cả</option>
                                <option *ngFor="let th of thuongHieus" [ngValue]="th">{{ th.tenThuongHieu }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <button (click)="resetSanPhamSearch()" class="btn-custom btn-white m-2"> <i class="fa-solid fa-arrows-rotate"></i> Nhập lại</button>
                        <button (click)="handleSearchSanPham()" class="btn-custom btn-create m-2"> <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header ">
            <p class="title-form">Danh sách sản phẩm ({{ paginatinonOfSP.totalElements }})</p>

            <div class="button-group ">
                <!-- <button class="btn-custom btn-create" data-bs-toggle="modal" data-bs-target="#modalProduct"><i class="fa-solid fa-plus"></i> Thêm sản phẩm</button> -->
                <button class="btn-custom btn-create" (click)="handleNavigateCreateProduct()"><i class="fa-solid fa-plus"></i> Thêm sản phẩm</button>
                <button (click)="handleExportExcel()" class="btn-custom btn-exportexcel"><i
                        class="fa-regular fa-file-excel"></i> Xuất excel</button>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive"> <!-- Thêm thẻ div này -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th class="text-center">Số lượng trong kho</th>
                            <th>Danh mục</th>
                            <th>Thương hiệu</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sanPham of sanPhams; let i = index">
                            <td class="text-center align-content-center">{{ tinhSTT(paginatinonOfSP.page, paginatinonOfSP.size, i)}}</td>
                            <td class="align-content-center">{{ sanPham.maSanPham}}</td>
                            <td class="align-content-center">{{ sanPham.tenSanPham}}</td>
                            <td class="text-center align-content-center">{{ tinhTongSPCT(sanPham.sanPhamChiTiets)}}</td>
                            <td class="align-content-center">{{ sanPham.danhMuc.tenDanhMuc}}</td>
                            <td class="align-content-center">{{ sanPham.thuongHieu.tenThuongHieu}}</td>
                            <td class="text-center align-content-center">
                                <span [ngClass]="getTrangThaiClass(sanPham.trangThai)"> {{ getTrangThaiLabel(sanPham.trangThai) }}</span>
                            </td>
                            <td class="text-center align-content-center">
                                <button (click)="handleDetailProduct(sanPham.idSanPham)" class="btn eye-btn"><i
                                        class="fa-regular fa-eye" title="Chi tiết"></i></button>
                                <button (click)="handleUpdateProduct(sanPham.idSanPham)" class="btn edit-btn"><i
                                        class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i></button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div> <!-- Kết thúc thẻ div table-responsive -->
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center pagination-buttons mb-2">
                <button
                  [disabled]="paginatinonOfSP.first"
                  (click)="handlePageSPCTChange('pre')"
                  class="btn btn-primary mx-2 custom-pagination-button"
                >
                  <i class="fa-solid fa-angle-left"></i>
                </button>

                <span class="page-indicator  align-content-center">
                  {{ paginatinonOfSP.page + 1 }} / {{ paginatinonOfSP.totalPages }}
                </span>

                <button
                  [disabled]="paginatinonOfSP.last"
                  (click)="handlePageSPCTChange('next')"
                  class="btn btn-primary mx-2 custom-pagination-button"
                >
                   <i class="fa-solid fa-angle-right"></i>
                </button>
              </div>
        </div>
    </div>
</div>



<!-- Modal Thêm sản phẩm mới -->
<div class="modal fade" id="modalProduct" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content rounded-4 border-0 shadow-lg">
            <!-- Modal Header -->
            <div class="modal-header bg-gradient bg-danger text-white py-2">
                <h5 class="modal-title fw-bold" id="modalProductLabel">Thêm sản phẩm mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body px-4 py-3">
                <div class="card mb-3 shadow-sm border-0 rounded-3">
                    <div class="card-body py-2 px-4">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="tenSanPham">Tên sản phẩm <span class="required">*</span></label>
                                        <input placeholder="Tên sản phẩm" formControlName="tenSanPham" type="text"
                                            name="tenSanPham" id="tenSanPham" class="form-control">
                                        <div *ngIf="form.get('tenSanPham')?.invalid && form.get('tenSanPham')?.touched">
                                            <small class="text-erorr"
                                                *ngIf="form.get('tenSanPham')?.hasError('required')">Tên sản phẩm là bắt
                                                buộc</small>
                                            <small class="text-erorr"
                                                *ngIf="form.get('tenSanPham')?.hasError('minlength')">Tên sản phẩm phải
                                                lớn hơn 4 ký tự</small>
                                            <small class="text-erorr"
                                                *ngIf="form.get('tenSanPham')?.hasError('maxlength')">Tên sản phẩm phải
                                                nhỏ hơn 255 ký tự</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="moTa">Mô Tả</label>
                                        <textarea placeholder="Mô tả" formControlName="moTa" type="text-are" name="moTa"
                                            id="moTa" class="form-control">
                            </textarea>
                                        <div *ngIf="form.get('moTa')?.invalid && form.get('moTa')?.touched">
                                            <small class="text-erorr" *ngIf="form.get('moTa')?.hasError('maxlength')">Mô
                                                tả phải nhỏ hơn 500 ký
                                                tự</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="danhMuc">Danh mục <span class="required">*</span></label>
                                        <select formControlName="danhMuc" class="form-select text-center" id="danhMuc">
                                            <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn danh
                                                mục
                                                ---</option>
                                            <option *ngFor="let dm of danhMucs" [ngValue]="dm">{{ dm.tenDanhMuc }}
                                            </option>
                                        </select>
                                        <div *ngIf="form.get('danhMuc')?.invalid && form.get('danhMuc')?.touched">
                                            <small class="text-erorr"
                                                *ngIf="form.get('danhMuc')?.hasError('required')">Danh mục không được để
                                                trống</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="thuongHieu">Thương hiệu <span class="required">*</span></label>
                                        <select formControlName="thuongHieu" class="form-select text-center"
                                            id="thuongHieu">
                                            <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn
                                                thương
                                                hiệu ---</option>
                                            <option *ngFor="let th of thuongHieus" [ngValue]="th">{{ th.tenThuongHieu }}
                                            </option>

                                        </select>
                                        <div *ngIf="form.get('thuongHieu')?.invalid && form.get('thuongHieu')?.touched">
                                            <small class="text-erorr"
                                                *ngIf="form.get('thuongHieu')?.hasError('required')">Thương hiệu không
                                                được đê
                                                trống</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal" id="btnCloseModalAdd">
                    <!-- <i class="fa-regular fa-circle-xmark"></i>  -->
                    Đóng
                </button>
                <button [disabled]="loading" (click)="handleSubmitFormProduct()" class="btn btn-danger rounded-pill">
                    <i class="fa-solid fa-floppy-disk"></i> Thêm sản phẩm
                </button>
            </div>
        </div>
    </div>
</div>
