<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title></title>
</head>

<body id="page-top">
<div>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class=" text-center mb-4">
          <h1 class="h3 mb-0 text-dark display-4 ">THỐNG KÊ </h1>
<!--          <h1 *ngIf="theaterIsSelected" class="h3 mb-0 text-dark ">{{ theaterIsSelected.name }}</h1>-->
          <label for="theater">Chọn rạp</label>
<!--          <select (change)="onChangeTheater($event)" name="theater" id="theater"-->
<!--                  class="form-select border">-->
<!--            <option value="1">Tất cả</option>-->
<!--            <option *ngFor="let theater of theaterList" [value]="theater">{{theater.name}}</option>-->
<!--          </select>-->
        </div>
        <div class="row">
          <!-- Earnings (Day) Card Example -->
          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
<!--                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">-->
<!--                      Doanh thu ({{currentDate| date: 'dd-MM-yyyy'}})</div>-->
<!--                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ this.dailyRevenue |-->
<!--                      currency:'VND':'symbol' }}</div>-->
                  </div>
                  <div class="col-auto">
<!--                    <input class="form-control" (change)="onChangeDay($event)"-->
<!--                           [(ngModel)]="currentDate" type="date" name="date" id="date">-->
                    <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Earnings (Month) Card Example -->
          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Doanh thu (Tháng: )</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Doanh thu (Năm: )</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-xl-4 col-md-6 mb-4">
              <div class="card shadow mb-4">
                  <a href="#collapseCardErningsYear" style="text-decoration: none;" class="d-block card-header py-3" data-toggle="collapse"
                      role="button" aria-expanded="true" aria-controls="collapseCardErningsYear">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Doanh thu (Năm: {{currentYear}})</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ this.yearlyRevenue |
                              currency:'VND':'symbol' }}</div>
                      </div>
                  </a>
                  <div class="collapse show" id="collapseCardErningsYear">
                     <div class="card-body">
                      <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                  Doanh thu (Năm: {{currentYear}})</div>
                              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ this.yearlyRevenue |
                                  currency:'VND':'symbol' }}</div>
                          </div>
                          <div class="col-auto">
                              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div> -->
        </div>


        <div>
          <div class="col-lg-12">
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                 role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary text-center">Danh sách giao dịch</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="collapseCardExample">
                <div class="card-body">
                  <div>
                    <div class="input-group mb-3">
                      <input type="number" class="form-control" placeholder="Top"
                             aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Tìm
                          kiếm</button>
                        <button class="btn btn-primary">Xuất excel</button>
                      </div>
                    </div>

<!--                    <nav aria-label="Page navigation" class="mt-4">-->
<!--                      <ul class="pagination justify-content-center">-->
<!--                        <li class="page-item" [class.disabled]="currentPage === 0">-->
<!--                          <a class="page-link" (click)="changePage(currentPage = 0)"-->
<!--                             aria-label="Previous">-->
<!--                            <span aria-hidden="true">Đầu</span>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li class="page-item" [class.disabled]="currentPage === 0">-->
<!--                          <a class="page-link" (click)="changePage(currentPage - 1)"-->
<!--                             aria-label="Previous">-->
<!--                            <span aria-hidden="true">&laquo;</span>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li class="page-item"-->
<!--                            *ngFor="let page of [].constructor(totalPages); let i = index"-->
<!--                            [class.active]="i === currentPage">-->
<!--                          <a class="page-link" (click)="changePage(i)">{{ i + 1 }}</a>-->
<!--                        </li>-->
<!--                        <li class="page-item"-->
<!--                            [class.disabled]="currentPage === totalPages - 1">-->
<!--                          <a class="page-link" (click)="changePage(currentPage + 1)"-->
<!--                             aria-label="Next">-->
<!--                            <span aria-hidden="true">&raquo;</span>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li class="page-item"-->
<!--                            [class.disabled]="currentPage ===  totalPages - 1">-->
<!--                          <a class="page-link"-->
<!--                             (click)="changePage(currentPage = totalPages  - 1)"-->
<!--                             aria-label="Previous">-->
<!--                            <span aria-hidden="true">Cuối</span>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                      </ul>-->

<!--                    </nav>-->
                  </div>
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Mã đặt vé</th>
                      <!-- <th>Ảnh</th> -->
                      <th>Người đặt</th>
                      <th>Nội dung thanh toán</th>
                      <th>Tổng tiền</th>
                      <th>Ngày giờ đặt</th>
                      <th>Trạng thái</th>
                      <th>Hành động</th>
                    <tr>
                    </thead>
                    <tbody>
<!--                    <tr *ngFor="let bk of bookingList">-->
<!--                      <td>{{ bk.id }}</td>-->
<!--                      &lt;!&ndash; <td><img style="max-width: 20%;" [src]=" rm.image" alt=""></td> &ndash;&gt;-->
<!--                      <td>{{ bk.user.fullname }} <strong>({{bk.user.username}})</strong>-->
<!--                      </td>-->
<!--                      <td>{{ bk.orderinfo }}</td>-->
<!--                      <td>{{ bk.totalPrice | currency: 'VND'}}</td>-->
<!--                      <td>{{ bk.bookingdate | date: 'hh:mm | dd-MM-yyyy'}}</td>-->
<!--                      <td>{{ bk.status }}</td>-->
<!--                      <td>-->
<!--                        <button class="btn btn-success" data-toggle="modal"-->
<!--                                data-target="#detailBooking"-->
<!--                                (click)="loadBookingIsSelected(bk.id)">-->
<!--                          Chi tiết-->
<!--                        </button>-->
<!--                      </td>-->
<!--                    </tr>-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                 role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Doanh thu theo phim</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="collapseCardExample">
                <div class="card-body">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Tên phim"
                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Tìm
                        kiếm</button>
                    </div>
                  </div>
                  <div>
                    <nav class="Page navigation text-center">
                      <u class="pagination justify-content-center">
                        <li class="page-item">
                          <a class="page-link">Trước</a>
                        </li>
                        <li class="page-item">
                          1/5
                        </li>
                        <li>
                          <a class="page-link">Sau</a>
                        </li>
                      </u>
                    </nav>
                  </div>
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Tên phim</th>
                      <th>Ảnh</th>
                      <th>Tổng số suất chiếu</th>
                      <th>Tổng doanh thu</th>
                      <th>AVG(Doanh thu/suất chiếu)</th>
                    <tr>
                    </thead>
                    <tbody>
<!--                    <tr *ngFor="let rm of listRevenueMovie">-->
<!--                      <td>{{ rm.title }}</td>-->
<!--                      <td><img style="max-width: 20%;" [src]=" rm.image" alt=""></td>-->
<!--                      <td>{{ rm.totalshowtime }}</td>-->
<!--                      <td>{{ rm.revenue | currency: 'VND'}}</td>-->
<!--                      <td>{{ avgRevenueShowtime(rm.revenue, rm.totalshowtime) | currency:-->
<!--                        'VND'}}</td>-->
<!--                    </tr>-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse"
                 role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Doanh thu theo phim đang chiếu (Đang
                  phát triển)</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="collapseCardExample2">
                <div class="card-body">

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                 role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Top phim có doanh thu cao nhất (Đang
                  phát triển)</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="collapseCardExample">
                <div class="card-body">
                  <div>
                    <div class="input-group mb-3">
                      <input type="number" class="form-control" placeholder="Top"
                             aria-label="Recipient's username" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Tìm
                          kiếm</button>
                      </div>
                    </div>

                    <nav class="Page navigation text-center">
                      <u class="pagination justify-content-center">
                        <li class="page-item">
                          <a class="page-link">Trước</a>
                        </li>
                        <li class="page-item">
                          1/5
                        </li>
                        <li>
                          <a class="page-link">Sau</a>
                        </li>
                      </u>
                    </nav>
                  </div>
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Tên phim</th>
                      <th>Ảnh</th>
                      <th>Tổng số suất chiếu</th>
                      <th>Tổng doanh thu</th>
                      <th>AVG(Doanh thu/suất chiếu)</th>
                    <tr>
                    </thead>
                    <tbody>
<!--                    <tr *ngFor="let rm of listRevenueMovie.slice(0,3)">-->
<!--                      <td>{{ rm.title }}</td>-->
<!--                      <td><img style="max-width: 20%;" [src]=" rm.image" alt=""></td>-->
<!--                      <td>{{ rm.totalshowtime }}</td>-->
<!--                      <td>{{ rm.revenue | currency: 'VND'}}</td>-->
<!--                      <td>{{ avgRevenueShowtime(rm.revenue, rm.totalshowtime) | currency:-->
<!--                        'VND'}}</td>-->
<!--                    </tr>-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse"
                 role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Doanh thu theo phim đang chiếu (Đang
                  phát triển)</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="collapseCardExample2">
                <div class="card-body">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn logout?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Chọn logout để kết thúc phiên làm việc!</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>





<!-- Modal detail booking -->
<!--<div *ngIf="this.bookingIselected" class="modal fade" id="detailBooking" tabindex="-1" role="dialog"-->
<!--     aria-labelledby="exampledetailBooking" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết giao dịch: <strong>{{ this.bookingIselected.id}}</strong></h5>-->
<!--        <p> Suất chiếu: <strong>{{this.bookingIselected.bookingdetail[0].showtime.showtime}} | {{this.bookingIselected.bookingdetail[0].showtime.showdate}}</strong></p>-->

<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-6">-->
<!--            <p> Tên rạp: <strong>{{this.bookingIselected.bookingdetail[0].theater.name}}</strong></p>-->
<!--            <p> Tên phòng chiếu: <strong>{{this.bookingIselected.bookingdetail[0].showtime.screenname}}</strong></p>-->
<!--            <p> Tên phim: <strong>{{this.bookingIselected.bookingdetail[0].showtime.movie.title}}</strong></p>-->
<!--          </div>-->
<!--          <div class="col-lg-6">-->
<!--            <p> Người đặt: <strong>{{this.bookingIselected.user.fullname}}</strong></p>-->
<!--            <p> Ngày đặt: <strong>{{this.bookingIselected.bookingdate | date: 'hh:mm | dd-MM-yyyy'}}</strong></p>-->
<!--            <p> Tổng tiền: <strong>{{this.bookingIselected.totalPrice| currency: 'VND'}}</strong></p>-->
<!--          </div>-->


<!--        </div>-->
<!--        <table class="table">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>Ghế đã đặt</th>-->
<!--            <th>Loại ghế</th>-->
<!--            <th>Đơn giá</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let bd of bookingIselected.bookingdetail">-->
<!--            <td>{{ bd.seat.seatrow }}{{ bd.seat.seatnumber }}</td>-->
<!--            <td>{{ bd.seat.type }}</td>-->
<!--            <td>{{ bd.price }}</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        &lt;!&ndash; <button type="button" class="btn btn-primary">Save changes</button> &ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
</body>

</html>
