<div class="list-product-zone">
  <div class="card">
    <div class="card-header">
      <h5 class="title-component">Danh sách trọng lượng</h5>
      <div class="button-group">
        <button class="btn btn-create" data-bs-toggle="modal" data-bs-target="#addTrongLuongModal">
          <i class="fa-regular fa-square-plus"></i> Thêm trọng lượng
        </button>
        <button class="btn btn-exportexcel">
          <i class="fa-regular fa-file-excel"></i> Xuất excel
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã trọng lượng</th>
              <th>Giá trị</th>
              <th>Mô tả</th>
              <th>Trạng thái</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of trongLuongs">
              <td>{{ t.idTrongLuong }}</td>
              <td>{{ t.maTrongLuong }}</td>
              <td>{{ t.giaTri }}</td>
              <td>{{ t.moTa }}</td>
              <td>
                <span class="status-tag">{{ t.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt động'
                  }}</span>
              </td>
              <td>
                <button (click)="handleDetailTrongLuong(t)" class="btn eye-btn" data-bs-toggle="modal"
                  data-bs-target="#detailModal">
                  <i class="fa-regular fa-eye" title="Chi tiết"></i>
                </button>
                <button (click)="handleUpdateTrongLuong(t.idTrongLuong)" class="btn edit-btn" data-bs-toggle="modal"
                  data-bs-target="#updateTrongLuongModal">
                  <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <!-- Pagination Buttons -->
      <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="page === 0">
            <a class="page-link" (click)="changePage(page = 0)" aria-label="Previous">
              <span aria-hidden="true">Đầu</span>
            </a>
          </li>
          <li class="page-item" [class.disabled]="page === 0">
            <a class="page-link" (click)="changePage(page - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="0 === page">
            <a class="page-link" (click)="changePage(i)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="page === totalPages - 1">
            <a class="page-link" (click)="changePage(page + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item" [class.disabled]="page ===  totalPages - 1">
            <a class="page-link" (click)="changePage(page = totalPages  - 1)" aria-label="Previous">
              <span aria-hidden="true">Cuối</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Modal Chi Tiết Trọng lượng -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content rounded-4 border-0 shadow-lg">
      <!-- Modal Header -->
      <div class="modal-header bg-gradient bg-danger text-white py-2">
        <h5 class="modal-title fw-bold" id="detailModalLabel">Chi tiết trọng lượng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body px-4 py-3">
        <!-- Thông tin cơ bản -->
        <div class="card mb-3 shadow-sm border-0 rounded-3">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin trọng lượng</h6>
            <div class="row">
              <div class="col-6">
                <p><strong>ID:</strong> {{ trongLuongDetail.idTrongLuong }}</p>
                <p><strong>Mã trọng lượng:</strong> {{ trongLuongDetail.maTrongLuong }}</p>
              </div>
              <div class="col-6">
                <p><strong>Giá trị:</strong> {{ trongLuongDetail.giaTri }}</p>
                <p><strong>Mô tả:</strong> {{ trongLuongDetail.moTa }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Trạng thái-->
        <div class="card mb-3 shadow-sm border-0 rounded-3">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Trạng thái trọng lượng</h6>
            <div class="row">
              <div class="col-6">
                <p><strong>Trạng thái:</strong>
                  <span
                    class="badge {{ trongLuongDetail.trangThai === 'ACTIVE' ? 'bg-success' : 'bg-danger' }} rounded-pill">
                    {{ trongLuongDetail.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt động' }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">
          <i class="fa-regular fa-circle-xmark"></i> Đóng
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal thêm trọng lượng -->
<div class="modal fade" id="addTrongLuongModal" tabindex="-1" aria-labelledby="addTrongLuongModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content rounded-4 border-0 shadow-lg">
      <!-- Modal Header -->
      <div class="modal-header bg-gradient bg-danger text-white py-3">
        <h5 class="modal-title fw-bold" id="addTrongLuongModalLabel">Thêm trọng lượng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body px-4 py-3">
        <!-- Thông tin thêm mới -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin trọng lượng</h6>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-6">
                  <div class="mb-3">
                    <label for="giaTri" class="form-label">giá trị trọng lượng<span class="required">*</span></label>
                    <input type="text" class="form-control" id="giaTri" formControlName="giaTri" [(ngModel)]="trongLuongAdd.giaTri"
                     placeholder="Nhập Giá trị trọng lượng">
                    <div *ngIf="form.get('giaTri')?.invalid && form.get('giaTri')?.touched">
                      <small *ngIf="form.get('giaTri')?.hasError('required')" class="text-danger">Giá trị trọng lượng là bắt buộc</small>
                      <small *ngIf="form.get('giaTri')?.hasError('minlength')" class="text-danger">Giá trị trọng lượng phải lớn
                        hơn 1 ký tự</small>
                      <small *ngIf="form.get('giaTri')?.hasError('maxlength')" class="text-danger">Giá trị trọng lượng không
                        được quá 225 ký tự</small>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- mô tả -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin bổ sung</h6>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="trongluongDescription" class="form-label">Mô tả</label>
                  <textarea class="form-control" id="trongluongDescription" [(ngModel)]="trongLuongAdd.moTa"
                    name="trongluongDescription" rows="2" placeholder="Nhập mô tả chi tiết"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Trạng thái -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Trạng thái trọng lượng</h6>
            <div class="mb-3">
              <label for="trongluongStatus" class="form-label">Trạng thái</label>
              <select class="form-select" id="trongluongStatus" [(ngModel)]="trongLuongAdd.trangThai"
                name="trongluongStatus">
                <option value="ACTIVE">Hoạt động</option>
                <option value="INACTIVE">Ngừng hoạt động</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal" id="closeModalAdd">
          <i class="fa-regular fa-circle-xmark"></i> Đóng
        </button>
        <button type="button" class="btn btn-danger rounded-pill" (click)="submitAdd()">
          <i class="fa-solid fa-floppy-disk"></i> Thêm trọng lượng
        </button>
      </div>

    </div>
  </div>
</div>

<!-- Modal cập nhật trọng lượng -->
<div class="modal fade" id="updateTrongLuongModal" tabindex="-1" aria-labelledby="updateTrongLuongModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- Kích thước lớn giống modal chi tiết -->
    <div class="modal-content rounded-4 border-0 shadow-lg">
      <!-- Modal Header -->
      <div class="modal-header bg-gradient bg-danger text-white py-3">
        <h5 class="modal-title fw-bold" id="updateTrongLuongModalLabel">Cập nhật trọng lượng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body px-4 py-3">
        <!-- Thông tin cập nhật -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin trọng lượng</h6>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="idTrongLuong" class="form-label">ID trọng lượng</label>
                  <input type="text" class="form-control" id="idTrongLuong" [(ngModel)]="trongLuongUpdate.idTrongLuong"
                    name="idTrongLuong" [disabled]="true">
                </div>
                <div class="mb-3">
                  <label for="updateTrongLuongMa" class="form-label">Mã trọng lượng</label>
                  <input type="text" class="form-control" id="updateTrongLuongMa"
                    [(ngModel)]="trongLuongUpdate.maTrongLuong" name="updateTrongLuongMa"
                    placeholder="Nhập mã trọng lượng" required [disabled]="true">
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="updateTrongLuongValue" class="form-label">Giá trị</label>
                  <input type="text" class="form-control" id="updateTrongLuongValue"
                    [(ngModel)]="trongLuongUpdate.giaTri" name="updateTrongLuongValue"
                    placeholder="Nhập giá trị trọng lượng" required>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mô tả và trạng thái -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin bổ sung</h6>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="updateTrongLuongDescription" class="form-label">Mô tả</label>
                  <textarea class="form-control" id="updateTrongLuongDescription" [(ngModel)]="trongLuongUpdate.moTa"
                    name="updateTrongLuongDescription" rows="2" placeholder="Nhập mô tả chi tiết"></textarea>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="updateTrongLuongStatus" class="form-label">Trạng thái</label>
                  <select class="form-select" id="updateTrongLuongStatus" [(ngModel)]="trongLuongUpdate.trangThai"
                    name="updateTrongLuongStatus">
                    <option value="ACTIVE">Hoạt động</option>
                    <option value="INACTIVE">Ngừng hoạt động</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal" id="closeModalUpdate">
          <i class="fa-regular fa-circle-xmark"></i> Đóng
        </button>
        <button type="button" class="btn btn-danger rounded-pill" (click)="submitUpdate()">
          <i class="fa-solid fa-wrench"></i> Lưu thay đổi
        </button>
      </div>
    </div>
  </div>
</div>
