<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StepStyle 404</title>
</head>
<body>
    <div class="not-found-container">
        <div class="row">
        <div class="col-lg-6 text-dark">
            <h1>404</h1>
            <p>Page Not Found</p>
            <a routerLink="/home"><i class="fa-solid fa-arrow-left"></i> Go back to Home</a>
        </div>
            <div class="col-lg-6">
            <img style="border-radius: 1000px;" [src]="this.logoUrl" alt="Fun Image">
            </div>
        </div>
    </div>
</body>
</html>
  