<div class="form-zone" style="background-color: white; margin: 20px 20px 20px 20px; padding: 20px 20px 20px 20px;">
    <form [formGroup]="form">
        <p class="title-form">Chỉnh sửa sản phẩm</p>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="tenSanPham">Tên sản phẩm <span class="required">*</span></label>
                    <input placeholder="Tên sản phẩm" formControlName="tenSanPham" type="text" name="tenSanPham"
                        id="tenSanPham" class="form-control">
                    <div *ngIf="form.get('tenSanPham')?.invalid && form.get('tenSanPham')?.touched">
                        <small *ngIf="form.get('tenSanPham')?.hasError('required')">Tên sản phẩm là bắt buộc</small>
                        <small *ngIf="form.get('tenSanPham')?.hasError('minlength')">Tên sản phẩm phải lớn hơn 4 ký
                            tự</small>
                        <small *ngIf="form.get('tenSanPham')?.hasError('maxlength')">Tên sản phẩm phải nhỏ hơn 255 ký
                            tự</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="moTa">Mô Tả</label>
                    <textarea placeholder="Mô tả" formControlName="moTa" type="text-are" name="moTa" id="moTa"
                        class="form-control">
                        </textarea>
                    <div *ngIf="form.get('moTa')?.invalid && form.get('moTa')?.touched">
                        <small *ngIf="form.get('moTa')?.hasError('maxlength')">Mô tả phải nhỏ hơn 500 ký tự</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="danhMuc">Danh mục <span class="required">*</span></label>
                    <select formControlName="danhMuc" class="form-select text-center" id="danhMuc">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn danh mục ---</option>
                        <option *ngFor="let dm of danhMucs" [ngValue]="dm.idDanhMuc">{{ dm.tenDanhMuc }}</option>
                    </select>
                    <div *ngIf="form.get('danhMuc')?.invalid && form.get('danhMuc')?.touched">
                        <small *ngIf="form.get('danhMuc')?.hasError('required')">Danh mục không được để trống</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="thuongHieu">Thương hiệu <span class="required">*</span></label>
                    <select formControlName="thuongHieu" class="form-select text-center" id="thuongHieu">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn thương hiệu ---</option>
                        <option *ngFor="let th of thuongHieus" [ngValue]="th.idThuongHieu">{{ th.tenThuongHieu }}
                        </option>
                    </select>
                    <div *ngIf="form.get('thuongHieu')?.invalid && form.get('thuongHieu')?.touched">
                        <small *ngIf="form.get('thuongHieu')?.hasError('required')">Thương hiệu không được đê
                            trống</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="trongLuong">Trọng lượng <span class="required">*</span></label>
                    <select formControlName="trongLuong" class="form-select text-center" id="trongLuong">
                        <option [ngValue]="null" class="title-combo">--- Chọn trọng lượng ---</option>
                        <option *ngFor="let tl of trongLuongs" [ngValue]="tl.idTrongLuong">{{ tl.giaTri }}</option>
                    </select>
                    <div *ngIf="form.get('trongLuong')?.invalid && form.get('trongLuong')?.touched">
                        <small *ngIf="form.get('trongLuong')?.hasError('required')">Trọng lượng không
                            được để trống</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="chatLieuDeGiay">Chất liệu <span class="required">*</span></label>
                    <select formControlName="chatLieu" class="form-select text-center" id="chatLieu">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn chất liệu ---
                        </option>
                        <option *ngFor="let cl of chatLieus" [ngValue]="cl.idChatLieu">{{ cl.tenChatLieu }}</option>
                    </select>
                    <div *ngIf="form.get('chatLieu')?.invalid && form.get('chatLieu')?.touched">
                        <small *ngIf="form.get('chatLieu')?.hasError('required')">Chất liệu không
                            được để trống</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <button (click)="handleUpdateProduct()" type="button" class="btn-custom btn-update">
                <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i> Cập nhật </button>
        </div>
    </form>
</div>

<div class="list-product-zone"
    style="background-color: white; margin: 20px 20px 20px 20px; padding: 20px 20px 20px 20px;">
    <div class="card">
        <div class="card-header ">
            <div class="button-group d-flex justify-content-end ">
                <button class="btn-custom btn-create" data-bs-toggle="modal" data-bs-target="#createSpctModal"><i
                        class="fa-solid fa-plus"></i> Thêm sản phẩm chi tiết</button>
            </div>
        </div>
        <div *ngFor="let colorIdKey of colorIdKeys" class="card-body">
            <div class="table-responsive mb-3">
                <!-- Bảng sản phẩm chi tiết -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!-- <th class="text-center">STT</th> -->
                            <th class="text-center">Ảnh </th>
                            <th>Mã SPCT</th>
                            <th>Tên sản phẩm</th>
                            <th>Màu sắc</th>
                            <th class="text-center">Kích cỡ</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá</th>
                            <th class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let spct of groupedSanPhamChiTietByColorId[colorIdKey]; let i = index">
                            <!-- <td class="text-center align-content-center">{{ tinhSTT(paginatinonOfSPCT.page, paginatinonOfSPCT.size, i)}}</td> -->
                            <td class="align-content-center text-center">
                                <img class="img-product-table" [src]="spct.anh === null ? 'noimage.png' : spct.anh"
                                    alt="Product Image">
                            </td>
                            <td class="align-content-center">{{ spct.maSpct }}</td>
                            <td class="align-content-center">{{ sanPhamById.tenSanPham }} <span
                                    style="font-weight: bold;">[{{ spct.mauSac.tenMau }}-{{ spct.kichCo.giaTri}}-{{
                                    sanPhamById.chatLieu.tenChatLieu}}]</span></td>
                            <td class="align-content-center">{{ spct.mauSac.tenMau }}</td>
                            <td class="text-center align-content-center">{{ spct.kichCo.giaTri }}</td>
                            <td class="text-center align-content-center">{{ spct.soLuong }}</td>
                            <td class="text-center align-content-center">{{ spct.gia | currency: 'VND' }}</td>
                            <td class="text-center align-content-center">

                                <button (click)="handleSelectSpctUpdate(spct)" class="btn edit-btn" data-bs-target="#updateSpctModal" data-bs-toggle="modal">
                                    <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div (click)="idColorIselected = colorIdKey" data-bs-target="#updateImageSpctModal" data-bs-toggle="modal" class="d-flex justify-content-center"> 
                <button class="btn btn-primary">Sửa ảnh</button>
            </div>
            <hr>
                        <!-- Phân trang -->
                        <!-- <div class="mt-3 d-flex justify-content-end align-items-center pagination-buttons">
                            <button [disabled]="paginatinonOfSPCT.first" (click)="handlePageSPCTChange('pre')"
                                class="btn btn-outline-primary mx-2 custom-pagination-button"
                                [ngClass]="{'disabled': paginatinonOfSPCT.first}">
                                <i class="fa-solid fa-angle-left"></i>
                            </button>
            
                            <span class="page-indicator mx-3 text-muted">
                                Trang {{ paginatinonOfSPCT.page + 1 }} / {{ paginatinonOfSPCT.totalPages }}
                            </span>
            
                            <button [disabled]="paginatinonOfSPCT.last" (click)="handlePageSPCTChange('next')"
                                class="btn btn-outline-primary mx-2 custom-pagination-button"
                                [ngClass]="{'disabled': paginatinonOfSPCT.last}">
                                <i class="fa-solid fa-angle-right"></i>
                            </button>
                        </div> -->
        </div>
    </div>
</div>


<!-- Modal cập nhật thông tin sản phẩm chi tiết -->
<div class="modal fade" id="updateSpctModal" tabindex="-1" aria-labelledby="updateSpctModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-update-spct modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-xanh-lam text-white">
                <h5>Sửa sản phẩm chi tiết {{spctUpdate.maSpct}}</h5>
                <button type="button" class="btn-close" id="closeModalUpdateSpct" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="soLuongSPCTNew">Số lượng</label>
                    <input [(ngModel)]="spctUpdate.soLuong" type="number" name="soLuongSPCTNew" id="soLuongSPCTNew" class="form-control">
                    <label for="soLuongSPCTNew">Giá bán</label>
                    <input [(ngModel)]="spctUpdate.gia" type="number" name="soLuongSPCTNew" id="soLuongSPCTNew" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="handleSubmitUpdateSPct()" type="button" class="btn-custom btn-create"> <i class="fa-solid fa-floppy-disk"></i> Lưu</button>
                <button id="closeModalUpdateSpct" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal thêm sản phẩm chi tiết -->
<div class="modal fade" id="createSpctModal" tabindex="-1" aria-labelledby="createSpctModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-create-spct modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-xanh-lam text-white">
                <h5>Thêm sản phẩm chi tiết mới</h5>
                <button type="button" class="btn-close" id="closeModalUpdateSpct" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="mauSac">Màu sắc <span class="required">*</span></label>
                            <ng-multiselect-dropdown (onSelect)="genSPCT()" (onDeSelect)="genSPCT()"
                                (onSelectAll)="genSPCT()" (onDeSelectAll)="genSPCT()" [placeholder]="'Chọn màu sắc'"
                                [data]="mauSacs" [settings]="dropdownSettingForColor" [(ngModel)]="mauSacIsSelected">
                            </ng-multiselect-dropdown>
                        </div>
                        <div
                            *ngIf="form.get('sanPhamChiTiet.mauSac')?.invalid && form.get('sanPhamChiTiet.mauSac')?.touched">
                            <small *ngIf="form.get('sanPhamChiTiet.mauSac')?.hasError('required')">Màu sắc không được để
                                trống</small>
                        </div>
                    </div>
    
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="kichCo">Kích cỡ giày <span class="required">*</span></label>
                            <ng-multiselect-dropdown (onSelect)="genSPCT()" (onDeSelect)="genSPCT()"
                                (onSelectAll)="genSPCT()" (onDeSelectAll)="genSPCT()" [placeholder]="'Chọn kích cỡ'"
                                [data]="kichCos" [settings]="dropdownSettingForSize" [(ngModel)]="kichCoIsSelected">
                            </ng-multiselect-dropdown>
                            <div
                                *ngIf="form.get('sanPhamChiTiet.kichCo')?.invalid && form.get('sanPhamChiTiet.kichCo')?.touched">
                                <small *ngIf="form.get('sanPhamChiTiet.kichCo')?.hasError('required')">Kích cỡ không được để
                                    trống</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gen-zone" *ngFor="let colorId of colorIds">
                    <div class="gen-spct-container">
                        <div class="row">
                            <!-- Cột thông tin sản phẩm -->
                            <div class="col-12 col-md-8">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tên sản phẩm chi tiết</th>
                                                <th class="text-center">Kích cỡ</th>
                                                <th>Màu sắc</th>
                                                <th class="text-center">Giá</th>
                                                <th class="text-center">Số lượng</th>
                                                <th class="text-center">Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let spct of groupedSanPhamChiTiet[colorId]">
                                                <td class="align-content-center">
                                                    {{ form.get('tenSanPham')?.value }} [{{ spct?.mauSac?.tenMau }} -
                                                    {{ spct?.kichCo?.giaTri }}]
                                                </td>
                                                <td class="text-center align-content-center">{{ spct?.kichCo?.giaTri }}</td>
                                                <td>
                                                    <button class="btn" [ngStyle]="{'background-color': spct.mauSac.maMauSac}">
                                                        {{ spct.mauSac.tenMau }}
                                                    </button>
                                                </td>
                                                <td class="text-center align-content-center">
                                                    {{ spct?.gia | currency: 'VND' : 'symbol-narrow' }}
                                                </td>
                                                <td class="text-center align-content-center">
                                                    {{ spct?.soLuong }}
                                                </td>
                                                <td class="align-content-center text-center"
                                                    class="text-center align-content-center">
                                                    <!-- <button data-bs-toggle="modal" data-bs-target="#modalProductDetailEdit"
                                                        (click)="handleDetailProductEdit(spct)" class="btn edit-btn"><i
                                                            class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i></button>
                                                    <button (click)="handleDeleteSPCT(spct, colorId)" class="btn trash-btn">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="handleCreateSPCT()" type="button" class="btn-custom btn-create"> <i class="fa-solid fa-floppy-disk"></i> Lưu</button>
                <button id="closeModalUpdateSpct" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal cập nhật ảnh sản phẩm chi tiết -->
<div class="modal fade" id="updateImageSpctModal" tabindex="-1" aria-labelledby="updateImageSpctModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-update-spct modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-xanh-lam text-white">
                <h5>Sửa ảnh {{spctUpdate.maSpct}}</h5>
                <button type="button" class="btn-close" id="closeModalUpdateAnhSpct" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="imageUpload">Chọn ảnh</label>
                    <input type="file" id="imageUpload" (change)="onFileSelected($event)" class="form-control">
                    <div class="mt-3" *ngIf="previewUrl">
                        <p>Ảnh đã chọn:</p>
                        <img [src]="previewUrl" id="imageKeke" alt="Ảnh đã chọn" class="img-fluid rounded shadow">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="handleSubmitUpdateAnhSpct()" type="button" class="btn-custom btn-create">
                    <i class="fa-solid fa-floppy-disk"></i> Lưu
                </button>
                <button id="closeModalUpdateSpct" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
