<div class="form-zone" style="background-color: white; margin: 20px 20px 20px 20px; padding: 20px 20px 20px 20px;">
    <form [formGroup]="form">
        <p class="title-form">Chỉnh sửa sản phẩm</p>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="tenSanPham">Tên sản phẩm <span class="required">*</span></label>
                    <input placeholder="Tên sản phẩm" formControlName="tenSanPham" type="text" name="tenSanPham"
                        id="tenSanPham" class="form-control">
                    <div *ngIf="form.get('tenSanPham')?.invalid && form.get('tenSanPham')?.touched">
                        <small *ngIf="form.get('tenSanPham')?.hasError('required')">Tên sản phẩm là bắt buộc</small>
                        <small *ngIf="form.get('tenSanPham')?.hasError('minlength')">Tên sản phẩm phải lớn hơn 4 ký
                            tự</small>
                        <small *ngIf="form.get('tenSanPham')?.hasError('maxlength')">Tên sản phẩm phải nhỏ hơn 255 ký
                            tự</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="moTa">Mô Tả</label>
                    <textarea placeholder="Mô tả" formControlName="moTa" type="text-are" name="moTa" id="moTa"
                        class="form-control">
                        </textarea>
                    <div *ngIf="form.get('moTa')?.invalid && form.get('moTa')?.touched">
                        <small *ngIf="form.get('moTa')?.hasError('maxlength')">Mô tả phải nhỏ hơn 500 ký tự</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="danhMuc">Danh mục <span class="required">*</span></label>
                    <select formControlName="danhMuc" class="form-select text-center" id="danhMuc">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn danh mục ---</option>
                        <option *ngFor="let dm of danhMucs" [ngValue]="dm.idDanhMuc">{{ dm.tenDanhMuc }}</option>
                    </select>
                    <div *ngIf="form.get('danhMuc')?.invalid && form.get('danhMuc')?.touched">
                        <small *ngIf="form.get('danhMuc')?.hasError('required')">Danh mục không được để trống</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="thuongHieu">Thương hiệu <span class="required">*</span></label>
                    <select formControlName="thuongHieu" class="form-select text-center" id="thuongHieu">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn thương hiệu ---</option>
                        <option *ngFor="let th of thuongHieus" [ngValue]="th.idThuongHieu">{{ th.tenThuongHieu }}
                        </option>
                    </select>
                    <div *ngIf="form.get('thuongHieu')?.invalid && form.get('thuongHieu')?.touched">
                        <small *ngIf="form.get('thuongHieu')?.hasError('required')">Thương hiệu không được đê
                            trống</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="trongLuong">Trọng lượng <span class="required">*</span></label>
                    <select formControlName="trongLuong" class="form-select text-center" id="trongLuong">
                        <option [ngValue]="null" class="title-combo">--- Chọn trọng lượng ---</option>
                        <option *ngFor="let tl of trongLuongs" [ngValue]="tl.idTrongLuong">{{ tl.giaTri }}</option>
                    </select>
                    <div *ngIf="form.get('trongLuong')?.invalid && form.get('trongLuong')?.touched">
                        <small *ngIf="form.get('trongLuong')?.hasError('required')">Trọng lượng không
                            được để trống</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="chatLieuDeGiay">Chất liệu <span class="required">*</span></label>
                    <select formControlName="chatLieu" class="form-select text-center" id="chatLieu">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn chất liệu ---
                        </option>
                        <option *ngFor="let cl of chatLieus" [ngValue]="cl.idChatLieu">{{ cl.tenChatLieu }}</option>
                    </select>
                    <div *ngIf="form.get('chatLieu')?.invalid && form.get('chatLieu')?.touched">
                        <small *ngIf="form.get('chatLieu')?.hasError('required')">Chất liệu không
                            được để trống</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <button (click)="handleUpdateProduct()" type="button" class="btn-custom btn-update">
                <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i> Cập nhật </button>
        </div>
    </form>
</div>

<div class="list-product-zone"
    style="background-color: white; margin: 20px 20px 20px 20px; padding: 20px 20px 20px 20px;">
    <div class="card">
        <div class="card-header ">
            <div class="button-group d-flex justify-content-end ">
                <button class="btn-custom btn-create" data-bs-toggle="modal" data-bs-target="#modalProduct"><i
                        class="fa-solid fa-plus"></i> Thêm sản phẩm chi tiết</button>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <!-- Bảng sản phẩm chi tiết -->
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">Ảnh </th>
                            <th>Mã SPCT</th>
                            <th>Tên sản phẩm</th>
                            <th>Màu sắc</th>
                            <th class="text-center">Kích cỡ</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Giá</th>
                            <th class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let spct of sanPhamChiTiets; let i = index">
                            <td class="text-center align-content-center">{{ tinhSTT(paginatinonOfSPCT.page,
                                paginatinonOfSPCT.size, i)}}</td>
                            <td class="align-content-center text-center">
                                <img class="img-product-table" [src]="spct.anh === null ? 'noimage.png' : spct.anh"
                                    alt="Product Image">
                            </td>
                            <td class="align-content-center">{{ spct.maSpct }}</td>
                            <td class="align-content-center">{{ sanPhamById.tenSanPham }} <span
                                    style="font-weight: bold;">[{{ spct.mauSac.tenMau }}-{{ spct.kichCo.giaTri}}-{{
                                    sanPhamById.chatLieu.tenChatLieu}}]</span></td>
                            <td class="align-content-center">{{ spct.mauSac.tenMau }}</td>
                            <td class="text-center align-content-center">{{ spct.kichCo.giaTri }}</td>
                            <td class="text-center align-content-center">{{ spct.soLuong }}</td>
                            <td class="text-center align-content-center">{{ spct.gia | currency: 'VND' }}</td>
                            <td class="text-center align-content-center">

                                <button class="btn edit-btn" data-bs-target="#updateSpctModal" data-bs-toggle="modal">
                                    <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                        <!-- Phân trang -->
                        <div class="mt-3 d-flex justify-content-end align-items-center pagination-buttons">
                            <button [disabled]="paginatinonOfSPCT.first" (click)="handlePageSPCTChange('pre')"
                                class="btn btn-outline-primary mx-2 custom-pagination-button"
                                [ngClass]="{'disabled': paginatinonOfSPCT.first}">
                                <i class="fa-solid fa-angle-left"></i>
                            </button>
            
                            <span class="page-indicator mx-3 text-muted">
                                Trang {{ paginatinonOfSPCT.page + 1 }} / {{ paginatinonOfSPCT.totalPages }}
                            </span>
            
                            <button [disabled]="paginatinonOfSPCT.last" (click)="handlePageSPCTChange('next')"
                                class="btn btn-outline-primary mx-2 custom-pagination-button"
                                [ngClass]="{'disabled': paginatinonOfSPCT.last}">
                                <i class="fa-solid fa-angle-right"></i>
                            </button>
                        </div>
        </div>
    </div>
</div>


<!-- Modal cập nhật thông tin sản phẩm chi tiết -->
<div class="modal fade" id="updateSpctModal" tabindex="-1" aria-labelledby="updateSpctModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-update-spct modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-xanh-lam text-white">
                <h5>Sửa sản phẩm chi tiết</h5>
                <button type="button" class="btn-close" id="closeModalUpdateSpct" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="soLuongSPCTNew">Số lượng</label>
                    <input type="number" name="soLuongSPCTNew" id="soLuongSPCTNew" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Lưu</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>