<div class="form-zone">
    <form (ngSubmit)="addEmployee()" #employeeForm="ngForm" class="bg-light p-4 rounded shadow">
        <p class="title-form">Thêm Nhân Viên Mới</p>
        <hr class="dashed-line">

        <!-- Mã Nhân Viên và Tên Nhân Viên -->
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="maNhanVien">Mã nhân viên <span class="required">*</span></label>
                    <input type="text" id="maNhanVien" placeholder="Mã nhân viên" class="form-control"
                        [(ngModel)]="newEmployee.maNhanVien" name="maNhanVien" required>
                    <div *ngIf="employeeForm.submitted && !employeeForm.controls['maNhanVien']?.valid" class="text-danger">
                        Mã nhân viên không được để trống.
                    </div>
                    <div *ngIf="maNhanVienExists" class="text-danger">
                        Mã nhân viên đã tồn tại, vui lòng chọn mã khác.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="tenNhanVien">Tên nhân viên <span class="required">*</span></label>
                    <input type="text" id="tenNhanVien" placeholder="Tên nhân viên" class="form-control"
                        [(ngModel)]="newEmployee.hoTen" name="tenNhanVien" required>
                    <div *ngIf="employeeForm.submitted && !employeeForm.controls['tenNhanVien']?.valid" class="text-danger">
                        Tên nhân viên không được để trống.
                    </div>
                </div>
            </div>
        </div>

        <!-- Địa chỉ Nhân Viên -->
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="diaChi">Địa chỉ nhân viên <span class="required">*</span></label>
                    <textarea class="form-control" id="diaChi" placeholder="Địa chỉ nhân viên"
                        [(ngModel)]="newEmployee.diaChi" name="diaChi" required></textarea>
                    <div *ngIf="employeeForm.submitted && !employeeForm.controls['diaChi']?.valid" class="text-danger">
                        Địa chỉ không được để trống.
                    </div>
                </div>
            </div>
        </div>

        <!-- Ngày Sinh, Giới Tính, Số Điện Thoại -->
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="ngaySinh">Ngày sinh <span class="required">*</span></label>
                    <input type="date" id="ngaySinh" class="form-control" [(ngModel)]="newEmployee.ngaySinh"
                        name="ngaySinh" required>
                    <div *ngIf="employeeForm.submitted && !employeeForm.controls['ngaySinh']?.valid" class="text-danger">
                        Ngày sinh không được để trống.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-label">Giới tính <span class="required">*</span></label>
                    <div class="d-flex justify-content-center">
                        <div class="form-check me-5">
                            <input type="radio" class="form-check-input" id="male" [(ngModel)]="newEmployee.gioiTinh"
                                name="gioiTinh" [value]="true" required>
                            <label class="form-check-label" for="male">Nam</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="female" [(ngModel)]="newEmployee.gioiTinh"
                                name="gioiTinh" [value]="false" required>
                            <label class="form-check-label" for="female">Nữ</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="soDienThoai">Số điện thoại <span class="required">*</span></label>
                    <input type="text" id="soDienThoai" placeholder="Số điện thoại" class="form-control"
                        [(ngModel)]="newEmployee.soDienThoai" name="soDienThoai" required>
                    <div *ngIf="employeeForm.submitted && !employeeForm.controls['soDienThoai']?.valid" class="text-danger">
                        Số điện thoại không được để trống.
                    </div>
                </div>
            </div>
        </div>

        <!-- Email, Trạng Thái, Ghi Chú -->
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="email">Email <span class="required">*</span></label>
                    <input type="email" id="email" placeholder="Email" class="form-control"
                        [(ngModel)]="newEmployee.email" name="email" required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <div *ngIf="employeeForm.submitted && !employeeForm.controls['email']?.valid" class="text-danger">
                        Email không được để trống và phải đúng định dạng.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="trangThai">Trạng thái</label>
                    <select id="trangThai" class="form-select" [(ngModel)]="newEmployee.trangThai" name="trangThai">
                        <option value="ACTIVE">Hoạt Động</option>
                        <option value="INACTIVE">Ngừng Hoạt Động</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="ghiChu">Ghi chú</label>
                    <input type="text" id="ghiChu" placeholder="Ghi chú" class="form-control"
                        [(ngModel)]="newEmployee.ghiChu" name="ghiChu">
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="d-flex justify-content-end">
            <button type="button" class="btn-custom btn-back" (click)="handleBackToListEmployee()">
                <i class="fa-solid fa-arrow-left"></i> Quay lại
            </button>
            <button type="submit" class="btn-custom btn-create">
                <i class="fa-regular fa-square-plus"></i> Thêm nhân viên
            </button>
        </div>
    </form>
</div>
