<div class="list-coupons-zone">
    <div class="card">
        <div class="card-header">
            <h5 class="title-component">Danh sách phiếu giảm giá</h5>
            <div class="button-group ">
                <button (click)="handleCreatePhieuGiamGia()" class="btn-custom btn-create"><i
                        class="fa-regular fa-square-plus"></i> Thêm phiếu giảm giá</button>
                <!-- <button class="btn-custom btn-exportexcel"><i class="fa-regular fa-file-excel"></i> Xuất excel</button> -->
            </div>
        </div>
        <div class="card-body">
            <br>
            <div class="d-flex justify-content-center">
                <form class="w-75 coupon-search-form" (ngSubmit)="searchCoupons()">
                    <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="">Mã phiếu giảm giá</label>
                                    <input [(ngModel)]="phieuGiamGiaSearch.maPhieuGiamGia" placeholder="Nhập mã hóa đơn" type="text" name="maHoaDon" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label for="">Tên phiếu giảm giá</label>
                                    <input [(ngModel)]="phieuGiamGiaSearch.tenPhieuGiamGia" placeholder="Nhập mã hóa đơn" type="text" name="maHoaDon" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <button (click)="resetSearch()" class="btn-custom btn-white m-2"> <i
                                    class="fa-solid fa-arrows-rotate"></i> Nhập lại</button>
                            <button (click)="searchCoupons()" class="btn-custom btn-create m-2"> <i
                                    class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>

            <br>
            <div class="form-search">
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <mat-tab-group>
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <span>Tất cả</span>
                                        <!-- Hiển thị tất cả phiếu giảm giá -->
                                        <span class="badge">{{ couponsTotalCount }}</span>
                                    </ng-template>
                                    <div>
                                        <ng-container *ngIf="phieuGiamGias.length; else noCoupons">
                                            <ng-template [ngTemplateOutlet]="couponsTableTempalte"></ng-template>
                                        </ng-container>
                                        <ng-template #noCoupons>
                                            <p>Không có phiếu giảm giá nào để hiển thị</p>
                                        </ng-template>
                                    </div>
                                </mat-tab>
                                <!-- Kết thúc 1 thẻ <mat-tab> -->

                                <!-- Tab phiếu giảm giá đang hoạt động -->
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <span>Đang hoạt động</span>
                                        <!-- Hiển thị phiếu giảm giá đang hoạt động -->
                                        <span class="badge">{{ couponsActiveCount }}</span>
                                    </ng-template>
                                    <div>
                                        <!-- Lọc những phiếu giảm giá có trạng thái đang hoạt động -->
                                        <ng-container *ngIf="phieuGiamGias.length; else noCouponsActive">
                                            <ng-template [ngTemplateOutlet]="couponsTableTempalte"
                                                [ngTemplateOutletContext]="{ filter: StatusPGG.ACTIVE }"></ng-template>
                                        </ng-container>
                                        <ng-template #noCouponsActive>
                                            <p>Không có phiếu giảm giá nào đang hoạt động để hiển thị</p>
                                        </ng-template>
                                    </div>
                                </mat-tab>
                                <!-- Kết thúc 1 thẻ <mat-tab> -->

                                <!-- Tab phiếu giảm giá sắp diễn ra -->
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <span>Sắp diễn ra</span>
                                        <!-- Hiển thị phiếu giảm giá sắp diễn ra -->
                                        <span class="badge">{{ couponsComingSoonCount }}</span>
                                    </ng-template>
                                    <div>
                                        <!-- Lọc những phiếu giảm giá có trạng thái sắp diễn ra -->
                                        <ng-container *ngIf="phieuGiamGias.length; else noCouponsComingsoon">
                                            <ng-template [ngTemplateOutlet]="couponsTableTempalte"
                                                [ngTemplateOutletContext]="{ filter: StatusPGG.COMINGSOON }"></ng-template>
                                        </ng-container>
                                        <ng-template #noCouponsComingsoon>
                                            <p>Không có phiếu giảm giá nào đang hoạt động để hiển thị</p>
                                        </ng-template>
                                    </div>
                                </mat-tab>
                                <!-- Kết thúc 1 thẻ <mat-tab> -->

                                <!-- Tab phiếu giảm giá đã hết hạn -->
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <span>Đã hết hạn</span>
                                        <!-- Hiển thị phiếu giảm giá đã hết hạn -->
                                        <span class="badge">{{ couponsExpiredCount }}</span>
                                    </ng-template>
                                    <div>
                                        <!-- Lọc những phiếu giảm giá có trạng thái đã hết hạn -->
                                        <ng-container *ngIf="phieuGiamGias.length; else noCouponsExpired">
                                            <ng-template [ngTemplateOutlet]="couponsTableTempalte"
                                                [ngTemplateOutletContext]="{filter: StatusPGG.EXPIRED}"></ng-template>
                                        </ng-container>
                                        <ng-template #noCouponsExpired>
                                            <p>Không có phiếu giảm giá nào đã hết hạn để hiển thị</p>
                                        </ng-template>
                                    </div>
                                </mat-tab>
                                <!-- Kết thúc 1 thẻ <mat-tab> -->

                                <!-- Tab phiếu giảm giá đã bị hủy -->
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <span>Đã bị hủy</span>
                                        <!-- Hiển thị phiếu giảm giá đã bị hủy -->
                                        <span class="badge">{{ couponsCanceledCount }}</span>
                                    </ng-template>
                                    <div>
                                        <!-- Lọc những phiếu giảm giá có trạng thái đã bị hủy -->
                                        <ng-container *ngIf="phieuGiamGias.length; else noCouponsCanceled">
                                            <ng-template [ngTemplateOutlet]="couponsTableTempalte"
                                                [ngTemplateOutletContext]="{filter: StatusPGG.CANCELLED}"></ng-template>
                                        </ng-container>
                                        <ng-template #noCouponsCanceled>
                                            <p>Không có phiếu giảm giá nào đã bị hủy để hiển thị</p>
                                        </ng-template>
                                    </div>
                                </mat-tab>
                                <!-- Kết thúc 1 thẻ <mat-tab> -->
                            </mat-tab-group>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Tempalte cho bảng phiếu giảm giá -->
            <ng-template #couponsTableTempalte let-filter="filter">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>STT</th>
                            <th>Mã</th>
                            <th>Tên</th>
                            <th>Loại Giảm</th>
                            <th>Ngày Bắt Đầu</th>
                            <th>Ngày Kết Thúc</th>
                            <th>Giá Trị Giảm</th>
                            <th>Giá trị giảm tối đa</th>
                            <th>Giá trị hóa đơn tối thiểu</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                        <tr *ngFor="let phieuGiamGia of phieuGiamGias; let i = index"
                            [hidden]="filter && phieuGiamGia.trangThai !== filter">
                            <td class="text-center align-content-center">{{ tinhSTT(paginatinonOfPGG.page, paginatinonOfPGG.size, i)}}</td>
                            <td class="align-content-center">{{ phieuGiamGia.maPhieuGiamGia}}</td>
                            <td class="align-content-center">{{ phieuGiamGia.tenPhieuGiamGia}}</td>
                            <td class="text-center align-content-center">
                                <span>
                                    {{ getCouponsStatusLoaiGiam(phieuGiamGia.loaiGiam) }}
                                </span>
                            </td>
                            <td class="align-content-center">{{ phieuGiamGia.ngayBatDau}}</td>
                            <td class="align-content-center">{{ phieuGiamGia.ngayKetThuc}}</td>
                            <td class="align-content-center">{{ formatGiaTriGiam(phieuGiamGia) }}</td>
                            <td class="align-content-center">{{ phieuGiamGia.giaTriGiamToiDa | currency: 'VND' }}</td>
                            <td class="align-content-center">{{ phieuGiamGia.giaTriHoaDonToiThieu | currency: 'VND' }}</td>
                            <td class="text-center align-content-center">
                                <span class="status-tag {{ phieuGiamGia.trangThai | lowercase }}">
                                    {{ getCouponsStatusPGG(phieuGiamGia.trangThai) }}
                                </span>
                            </td>
                            <td>
                                <button (click)="handleDetailPhieuGiamGia(phieuGiamGia)" class="btn eye-btn" 
                                    data-bs-toggle="modal" data-bs-target="#detailCouponsModal">
                                    <i class="fa-regular fa-eye" title="Chi tiết"></i>
                                </button>
                                <button (click)="handleUpdatePhieuGiamGia(phieuGiamGia.idPhieuGiamGia)" class="btn eye-btn" [disabled]="phieuGiamGia.trangThai === StatusPGG.EXPIRED || phieuGiamGia.trangThai === StatusPGG.CANCELLED">
                                    <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i>
                                </button>
                                <button (click)="handleEndPromotion(phieuGiamGia.idPhieuGiamGia)" class="btn eye-btn" [disabled]="phieuGiamGia.trangThai === StatusPGG.EXPIRED || phieuGiamGia.trangThai === StatusPGG.CANCELLED">
                                    <i class="fa-solid fa-bolt" title="Kết thúc"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </ng-template>
            <!-- Phân trang -->
            <div class="card-footer">
                <div class="d-flex justify-content-center pagination-buttons mb-2">
                    <button [disabled]="paginatinonOfPGG.first" (click)="handlePagePGGChange('pre')"
                        class="btn btn-primary mx-2 custom-pagination-button">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>

                    <span class="page-indicator">
                        {{ paginatinonOfPGG.page + 1 }} / {{ paginatinonOfPGG.totalPages }}
                    </span>

                    <button [disabled]="paginatinonOfPGG.last" (click)="handlePagePGGChange('next')"
                        class="btn btn-primary mx-2 custom-pagination-button">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Chi Tiết Phiếu Giảm Giá -->
<div class="modal fade" id="detailCouponsModal" tabindex="-1" aria-labelledby="detailCouponsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg"> <!-- Sử dụng modal-lg để tăng kích thước -->
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-xanh-lam text-white py-2">
                <h5 class="modal-title fw-bold" id="detailCouponsModalLabel">Chi tiết Phiếu Giảm Giá</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body px-4 py-3">
                <!-- Thông tin cơ bản -->
                <div class="card mb-3 shadow-sm">
                    <div class="card-body py-2 px-4">
                        <h6 class="card-title text-secondary mb-2">Thông tin Phiếu Giảm Giá</h6>
                        <div class="row">
                            <div class="col-6">
                                <p><strong>ID:</strong> {{ selectedCoupons.idPhieuGiamGia}}</p>
                                <p><strong>Mã:</strong> {{ selectedCoupons.maPhieuGiamGia }}</p>
                                <p><strong>Tên:</strong> {{ selectedCoupons.tenPhieuGiamGia }}</p>
                            </div>
                            <div class="col-6">
                                <p><strong>Ngày bắt đầu:</strong> {{ selectedCoupons.ngayBatDau }}</p>
                                <p><strong>Ngày kết thúc:</strong> {{ selectedCoupons.ngayKetThuc }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Thông tin các giá trị -->
                <div class="card mb-3 shadow-sm">
                    <div class="card-body py-2 px-4">
                        <h6 class="card-title text-secondary mb-2">Thông tin Phiếu Giảm Giá</h6>
                        <div class="row">
                            <div class="col-6">
                                <p><strong>Loại giảm:</strong> {{ selectedCoupons.loaiGiam }}</p>
                                <p><strong>Giá trị giảm tối đa:</strong> {{ selectedCoupons.giaTriGiamToiDa
                                    }}
                                </p>
                                <p><strong>Giá trị đơn hàng tối thiếu:</strong> {{
                                    selectedCoupons.giaTriHoaDonToiThieu }}</p>
                                <p><strong>Giá trị giảm :</strong> {{ selectedCoupons.giaTriGiam }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Trạng thái -->
                <div class="card mb-3 shadow-sm">
                    <div class="card-body py-2 px-4">
                        <h6 class="card-title text-secondary mb-2">Trạng thái và ghi chú</h6>
                        <div class="row">
                            <div class="col-6">
                                <p><strong>Trạng thái:</strong>
                                    <span class="status-tag {{ selectedCoupons.trangThai | lowercase }}">
                                        {{ getCouponsStatusPGG(selectedCoupons.trangThai) }}
                                    </span>
                                </p>
                            </div>
                            <div class="col-6">
                                <p><strong>Mô tả:</strong> {{ selectedCoupons.moTa }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-regular fa-circle-xmark"></i>
                    Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Kết thúc Modal -->