<div class="list-customer-zone">
    <div class="card">
        <div class="form-search">
            <p class="title-form" style="margin: 20px;">Tìm kiếm</p>
            <div class="d-flex justify-content-center">
                <form class="w-75">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="maNhanVien">Mã khách hàng</label>
                                <input [(ngModel)]="khachHangSearchRequest.maKhachHang" placeholder="Nhập mã khách hàng" 
                                    type="text" name="maKhachHang" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="hoTen">Tên khách hàng</label>
                                <input [(ngModel)]="khachHangSearchRequest.tenKhachHang" placeholder="Nhập tên khách hàng" 
                                    type="text" name="tenKhachHang" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="soDienThoai">Số điện thoại</label>
                                <input [(ngModel)]="khachHangSearchRequest.soDienThoai" placeholder="Nhập số điện thoại" 
                                    type="text" name="soDienThoai" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <button type="button" (click)="resetSearch()" class="btn-custom btn-white mx-2">
                                <i class="fa-solid fa-arrows-rotate"></i> Nhập lại
                            </button>
                            <button type="submit" (click)="searchCustomers()" class="btn-custom btn-create">
                                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
                            </button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <p class="title-form">Danh sách khách hàng ({{paginatinonOfCustomer.totalElements}})</p>
            <div class="button-group">
                <button class="btn btn-create" (click)="navigateToAddCustomer()">
                    <i class="fa-regular fa-square-plus"></i> Thêm khách hàng
                </button>
                <!-- <button class="btn btn-exportexcel"><i class="fa-regular fa-file-excel"></i> Xuất excel</button> -->
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th>Mã khách hàng</th>
                            <th>Tên khách hàng</th>
                            <th class="text-center">Ngày sinh</th>
                            <th>Giới tính</th>
                            <th class="text-center">SĐT</th>
                            <th>Email</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let kh of khachHangs; let i = index">
                            <td class="text-center align-content-center">{{ tinhSTT(paginatinonOfCustomer.page, paginatinonOfCustomer.size, i)}}</td>
                            <td class="align-content-center">{{ kh.maKhachHang}}</td>
                            <td class="align-content-center">{{ kh.tenKhachHang}}</td>
                            <td class="text-center align-content-center">{{ kh.ngaySinh}}</td>
                            <td class="align-content-center">
                                <span>{{ kh.gioiTinh === true ? 'Nam' : 'Nữ' }}</span>
                            </td>
                            <td class="text-center align-content-center">{{ kh.soDienThoai }}</td>
                            <td class="align-content-center">{{ kh.email }}</td>
                            <td class="text-center align-content-center">
                                <span class="status-tag">{{ kh.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt động'
                                    }}</span>
                            </td>
                            <td class="text-center align-content-center">
                                <button (click)="handleDetailCustomer(kh)" class="btn eye-btn" data-bs-toggle="modal"
                                    data-bs-target="#detailCustomerModal">
                                    <i class="fa-regular fa-eye" title="Chi tiết"></i>
                                </button>
                                <button (click)="handleUpdateCustomer(kh)" class="btn edit-btn">
                                    <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- Kết thúc thẻ div table-responsive -->
        </div>

        <!-- Modal Chi Tiết Khách Hàng -->
        <div class="modal fade" id="detailCustomerModal" tabindex="-1" aria-labelledby="detailCustomerModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg"> <!-- Sử dụng modal-lg để tăng kích thước -->
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header bg-xanh-lam text-white py-2">
                        <h5 class="modal-title fw-bold" id="detailCustomerModalLabel">Chi tiết khách hàng</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body px-4 py-3">
                        <!-- Thông tin cơ bản -->
                        <div class="card mb-3 shadow-sm">
                            <div class="card-body py-2 px-4">
                                <h6 class="card-title text-secondary mb-2">Thông tin khách hàng</h6>
                                <div class="row">
                                    <div class="col-6">
                                        <p><strong>ID:</strong> {{ selectedCustomer.idKhachHang }}</p>
                                        <p><strong>Mã:</strong> {{ selectedCustomer.maKhachHang }}</p>
                                        <p><strong>Tên:</strong> {{ selectedCustomer.tenKhachHang }}</p>
                                        <p><strong>Ngày sinh:</strong> {{ selectedCustomer.ngaySinh }}</p>
                                    </div>
                                    <div class="col-6">
                                        <p><strong>Giới tính:</strong>
                                            <span class="badge bg-info text-dark">{{ selectedCustomer.gioiTinh ? 'Nam' :
                                                'Nữ' }}</span>
                                        </p>
                                        <p><strong>SĐT:</strong> {{ selectedCustomer.soDienThoai }}</p>
                                        <p><strong>Email:</strong> {{ selectedCustomer.email }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Trạng thái và ghi chú -->
                        <div class="card mb-3 shadow-sm">
                            <div class="card-body py-2 px-4">
                                <h6 class="card-title text-secondary mb-2">Trạng thái và ghi chú</h6>
                                <div class="row">
                                    <div class="col-6">
                                        <p><strong>Trạng thái:</strong>
                                            <span
                                                class="badge {{ selectedCustomer.trangThai === 'ACTIVE' ? 'bg-success' : 'bg-xanh-lam' }}">
                                                {{ selectedCustomer.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt
                                                động' }}
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p><strong>Ghi chú:</strong> {{ selectedCustomer.ghiChu || 'Không có ghi chú' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Địa chỉ -->
                        <div class="card shadow-sm">
                            <div class="card-body py-2 px-4">
                                <h6 class="card-title text-secondary mb-2">Địa chỉ</h6>
                                <table class="table table-bordered table-sm">
                                    <thead class="table-light">
                                        <tr>
                                            <th>STT</th>
                                            <th>Địa chỉ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dckh of selectedCustomer.diaChiKhachHangs; let i = index">
                                            <td>{{i + 1}}</td>
                                            <td>
                                                {{dckh.diaChiChiTiet}}, {{dckh.tenPhuongXa}}, {{dckh.tenQuanHuyen}}, {{dckh.tenTinh}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer py-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <!-- Phân trang -->
            <div class="mt-3 d-flex justify-content-end align-items-center pagination-buttons">
                <button [disabled]="paginatinonOfCustomer.first" (click)="handlePageCustomerChange('pre')"
                    class="btn btn-outline-primary mx-2 custom-pagination-button"
                    [ngClass]="{'disabled': paginatinonOfCustomer.first}">
                    <i class="fa-solid fa-angle-left"></i>
                </button>

                <span class="page-indicator mx-3 text-muted">
                    Trang {{ paginatinonOfCustomer.page + 1 }} / {{ paginatinonOfCustomer.totalPages }}
                </span>

                <button [disabled]="paginatinonOfCustomer.last" (click)="handlePageCustomerChange('next')"
                    class="btn btn-outline-primary mx-2 custom-pagination-button"
                    [ngClass]="{'disabled': paginatinonOfCustomer.last}">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>