<div class="history-zone">
<div class="container mt-5 mb-5">
  <div class="card shadow-lg border-0 rounded">
    <div class="card-header bg-primary text-white text-center py-4 rounded-top">
      <h4 class="mb-0">Lịch sử mua hàng</h4>
    </div>
    <div class="card-body bg-light">
      <!-- Danh sách đơn hàng -->
      <div class="order-list">
        <div class="order-item card mb-4 border-0 shadow-sm" *ngFor="let hd of listLichSuGiaoDich">
          <div class="row g-0 align-items-center p-3">
            <div class="col-md-9">
              <div class="card-body p-0">
                <h5 class="card-title mb-2">
                  <span class="text-secondary">Mã hóa đơn: </span>
                  <strong class="text-dark">{{ hd.maHoaDon }}</strong>
                </h5>
                <p class="card-text mb-2">
                  <span class="text-muted">Ngày đặt: </span> <span class="text-dark">{{ hd.ngayTaoDon }}</span>
                </p>
                <p class="card-text">
                  <span class="text-muted">Số tiền cần thanh toán: </span> 
                  <strong class="text-success">{{ hd.tongTienSauGiam + hd.phiVanChuyen | currency: 'VND' }}</strong>
                </p>
              </div>
            </div>
            <div class="col-md-3 text-center">
              <p class="mb-2">
                <span 
                  class="badge badge-pill px-3 py-2 text-dark"
                >
                  {{ hamDungChung.getInvoiceStatus(hd.trangThai) }}
                </span>
              </p>
              <button class="btn btn-outline-primary btn-sm px-4 rounded-pill">Xem chi tiết</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
</div>

