<div>
  <div class="container product-detail mt-5 mb-5">
    <div class="row">

      <!-- Thông tin sản phẩm -->
      <div class="col-md-6 col-12">
        <h2 class="product-title">{{ sanPhamById.tenSanPham }} </h2>
        <p>Số lượng còn trong kho: {{ selectedProductDetail?.soLuong }}</p>
        <p class="product-price" *ngIf="selectedProductDetail; else noPrice">
        </p>
        <button *ngIf="selectedProductDetail" class="btn btn-buy-now btn-sm price-button">
           Giá: {{ selectedProductDetail.gia | currency: 'VND' }}
        </button>

        <ng-template #noPrice>
          <p class="product-price text-danger">Sản phẩm không tồn tại</p>
        </ng-template>

        <!-- Màu sắc -->
        <div class="mt-3">
          <p> <strong>Màu sắc: </strong></p>
          <div class="btn-group">
            <button [disabled]="handleCheckDisableMauSac(ms)" *ngFor="let ms of uniqueColors" type="button" class="btn btn-outline-secondary color-btn"
              [ngClass]="{'selected': ms.idMauSac === selectedColor.idMauSac}" (click)="selectColor(ms)">
              {{ ms.tenMau }}
            </button>
          </div>
        </div>

        <!-- Kích cỡ -->
        <div class="mt-3">
          <p><strong>Kích cỡ: </strong></p>
          <div class="btn-group">
            <button [disabled]="handleCheckDisableKichCo(kc)" *ngFor="let kc of uniqueSizes" type="button" class="btn btn-outline-secondary size-btn"
              [ngClass]="{'selected': kc.idKichCo === selectedSize.idKichCo}" (click)="selectSize(kc)">
              {{ kc.giaTri }}
            </button>
          </div>
        </div>

        <!-- Nút thao tác -->
        <div class="d-flex justify-content-start align-items-center gap-3 mt-3" *ngIf="selectedProductDetail">

          <!-- Nút "Thêm vào giỏ hàng" -->
          <button [disabled]="selectedProductDetail.soLuong <= 0" (click)="handlecart(selectedProductDetail)" class="btn btn-outline-success btn-sm btn-add-to-cart">
            <i class="fa-solid fa-cart-plus"></i> Thêm vào giỏ hàng
          </button>

          <!-- Nút "Hướng dẫn chọn size" với biểu tượng giúp người dùng dễ hiểu -->
          <button class="btn btn-outline-info btn-sm btn-add-to-cart"  data-bs-toggle="modal" data-bs-target="#sizeModal">
            <i class="fa-solid fa-ruler"></i> Hướng dẫn chọn kích cỡ
          </button>
        </div>
        <!-- Thông tin chi tiết -->
      </div>
      <div class="col-md-6 col-12">
        <div *ngIf="selectedProductDetail; else noProductImage">
          <img class="img-product-table" [src]="selectedProductDetail.anh || 'noimage.png'" alt="Product Image">
        </div>
        <ng-template #noProductImage>
          <div>
            <img src="http://localhost:8080/images/does-not-exist.png" alt="Out of Stock" class="img-fluid">
          </div>
        </ng-template>
      </div>
      
      
    </div>
    <!-- Thông tin chi tiết -->
    <div class="product-details mt-4" *ngIf="selectedProductDetail">
      <h5 class="section-title">Thông tin chi tiết</h5>
      <table class="table modern-table">
        <thead>
          <tr>
            <th>Thuộc tính</th>
            <th>Tên</th>
            <th>Mô tả</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Chất liệu</td>
            <td>{{sanPhamById.chatLieu.tenChatLieu || 'Đang cập nhật'}}</td>
            <td>{{sanPhamById.chatLieu.moTa || 'Không có mô tả'}}</td>
          </tr>
          <tr>
            <td>Trọng lượng</td>
            <td>{{sanPhamById.trongLuong.giaTri || 'N/A'}}g</td>
            <td>{{sanPhamById.trongLuong.moTa || 'Không có mô tả'}}</td>
          </tr>
          <tr>
            <td>Danh mục</td>
            <td>{{sanPhamById.danhMuc.tenDanhMuc || 'Đang cập nhật'}}</td>
            <td>{{sanPhamById.danhMuc.moTa || 'Không có mô tả'}}</td>
          </tr>
          <tr>
            <td>Thương hiệu</td>
            <td>{{sanPhamById.thuongHieu.tenThuongHieu || 'Đang cập nhật'}}</td>
            <td>{{sanPhamById.thuongHieu.moTa || 'Không có mô tả'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal hướng dẫn chọn size -->
<div class="modal fade" tabindex="-1" id="sizeModal" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-xanh-lam">
        <h5 class="modal-title text-white">Hướng dẫn chọn kích thước</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Size</th>
              <th>Mô tả</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let size of uniqueSizes">
              <td>{{ size.giaTri }}</td>
              <td>{{ size.moTa }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

