<div class="list-product-zone">
  <div class="card">
    <div class="card-header">
      <h5 class="title-component">Danh sách kích cỡ</h5>
      <div class="button-group">
        <button class="btn btn-create" data-bs-toggle="modal" data-bs-target="#addModal">
          <i class="fa-regular fa-square-plus"></i> Thêm kích cỡ
        </button>
        <!-- <button class="btn btn-exportexcel">
          <i class="fa-regular fa-file-excel"></i> Xuất excel
        </button> -->
      </div>
    </div>
    <div class="card-body">
      <br>
      <div class="d-flex justify-content-center">
          <form class="w-75">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group mb-3">
                    <label for="maKichCo">Mã kích cỡ</label>
                    <input [(ngModel)]="kichCoSearchRequest.maKichCo" placeholder="Nhập mã kích cỡ"
                        type="text" name="maKichCo" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group mb-3">
                    <label for="giaTri">Giá trị kích cỡ</label>
                    <input [(ngModel)]="kichCoSearchRequest.giaTri" placeholder="Nhập giá trị kích cỡ"
                        type="text" name="giaTri" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-lg-12 d-flex justify-content-center">
                      <button type="button" (click)="resetSearch()" class="btn-custom btn-white mx-2">
                          <i class="fa-solid fa-arrows-rotate"></i> Nhập lại
                      </button>
                      <button type="submit" (click)="searchKC()" class="btn-custom btn-create">
                          <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
                      </button>
                  </div>
              </div>
          </form>
      </div>
      <br>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">STT</th>
              <th>Mã kích cỡ</th>
              <th class="text-center">Giá trị</th>
              <th>Mô tả</th>
              <th class="text-center">Trạng thái</th>
              <th class="text-center">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let k of kichCos, let i = index">
              <td class="text-center align-content-center">{{ tinhSTT(paginatinonOfKC.page,
                  paginatinonOfKC.size, i)}}</td>
              <td class="align-content-center">{{ k.maKichCo }}</td>
              <td class="text-center align-content-center">{{ k.giaTri }}</td>
              <td class="align-content-center">{{ k.moTa }}</td>
              <td class="text-center align-content-center">
                <span class="status-tag">{{ k.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt động' }}</span>
              </td>
              <td class="text-center align-content-center">
                <button (click)="handleDetailKichCo(k)" class="btn eye-btn" data-bs-toggle="modal"
                  data-bs-target="#detailModal">
                  <i class="fa-regular fa-eye" title="Chi tiết"></i>
                </button>
                <button (click)="handleUpdateKichCo(k.idKichCo)" class="btn edit-btn" data-bs-toggle="modal"
                  data-bs-target="#updateModal">
                  <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center pagination-buttons mb-2">
        <button [disabled]="paginatinonOfKC.first" (click)="handlePageKCChange('pre')"
          class="btn btn-primary mx-2 custom-pagination-button">
          <i class="fa-solid fa-angle-left"></i>
        </button>

        <span class="page-indicator">
          {{ paginatinonOfKC.page + 1 }} / {{ paginatinonOfKC.totalPages }}
        </span>

        <button [disabled]="paginatinonOfKC.last" (click)="handlePageKCChange('next')"
          class="btn btn-primary mx-2 custom-pagination-button">
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Chi Tiết kích cỡ -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content rounded-4 border-0 shadow-lg">
      <!-- Modal Header -->
      <div class="modal-header bg-gradient bg-xanh-lam text-white py-2">
        <h5 class="modal-title fw-bold" id="detailModalLabel">Chi tiết kích cỡ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body px-4 py-3">
        <!-- Thông tin cơ bản -->
        <div class="card mb-3 shadow-sm border-0 rounded-3">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin kích cỡ</h6>
            <div class="row">
              <div class="col-6">
                <p><strong>ID:</strong> {{ kichCoDetail.idKichCo }}</p>
                <p><strong>Mã kích cỡ:</strong> {{ kichCoDetail.maKichCo }}</p>
              </div>
              <div class="col-6">
                <p><strong>Giá trị:</strong> {{ kichCoDetail.giaTri }}</p>
                <p><strong>Mô tả:</strong> {{ kichCoDetail.moTa }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Trạng thái-->
        <div class="card mb-3 shadow-sm border-0 rounded-3">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Trạng thái kích cỡ</h6>
            <div class="row">
              <div class="col-6">
                <p><strong>Trạng thái:</strong>
                  <span
                    class="badge {{ kichCoDetail.trangThai === 'ACTIVE' ? 'bg-success' : 'bg-xanh-lam' }} rounded-pill">
                    {{ kichCoDetail.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt động' }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">
          <i class="fa-regular fa-circle-xmark"></i> Đóng
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Modal thêm kích cỡ -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content rounded-4 border-0 shadow-lg">
      <!-- Modal Header -->
      <div class="modal-header bg-gradient bg-xanh-lam text-white py-3">
        <h5 class="modal-title fw-bold" id="addModalLabel">Thêm kích cỡ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body px-4 py-3">
        <!-- Thông tin thêm mới -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin kích cỡ</h6>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="mb-3">
                    <label for="giaTri" class="form-label">Giá trị kích cỡ<span class="required">*</span></label>
                    <input type="text" class="form-control" id="giaTri" formControlName="giaTri" [(ngModel)]="kichCoAdd.giaTri"
                     placeholder="Nhập tên kích cỡ">
                    <div *ngIf="form.get('giaTri')?.invalid && form.get('giaTri')?.touched">
                      <small *ngIf="form.get('giaTri')?.hasError('required')" class="text-danger">Giá trị kích cỡ là bắt buộc</small>
                      <small *ngIf="form.get('giaTri')?.hasError('minlength')" class="text-danger">Giá trị kích cỡ phải lớn hơn 1 ký tự</small>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </div>

        <!-- Giá trị và mô tả -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin bổ sung</h6>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="cldgDescription" class="form-label">Mô tả</label>
                  <textarea class="form-control" id="cldgDescription" [(ngModel)]="kichCoAdd.moTa"
                    name="cldgDescription" rows="2" placeholder="Nhập mô tả chi tiết"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Trạng thái -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Trạng thái kích cỡ</h6>
            <div class="mb-3">
              <label for="trangThai" class="form-label">Trạng thái</label>
              <select class="form-select" id="trangThai" [(ngModel)]="kichCoAdd.trangThai" name="trangThai">
                <option value="ACTIVE">Hoạt động</option>
                <option value="INACTIVE">Ngừng hoạt động</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal" id="closeModalAdd">
          <i class="fa-regular fa-circle-xmark"></i> Đóng
        </button>
        <button type="button" class="btn btn-danger rounded-pill" (click)="submitAdd()">
          <i class="fa-solid fa-floppy-disk"></i> Thêm kích cỡ
        </button>
      </div>

    </div>
  </div>
</div>


<!-- Modal cập nhật kích cỡ -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- Kích thước lớn giống modal chi tiết -->
    <div class="modal-content rounded-4 border-0 shadow-lg">
      <!-- Modal Header -->
      <div class="modal-header bg-gradient bg-xanh-lam text-white py-3">
        <h5 class="modal-title fw-bold" id="updateModalLabel">Cập nhật kích cỡ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body px-4 py-3">
        <!-- Thông tin cập nhật -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin kích cỡ</h6>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="idKichCo" class="form-label">ID kích cỡ</label>
                  <input type="text" class="form-control" id="idKichCo" [(ngModel)]="kichCoUpdate.idKichCo"
                    name="idKichCo" [disabled]="true">
                </div>
                <div class="mb-3">
                  <label for="maKichCo" class="form-label">Mã kích cỡ</label>
                  <input type="text" class="form-control" id="maKichCo" [(ngModel)]="kichCoUpdate.maKichCo"
                    name="maKichCo" placeholder="Nhập mã kích cỡ" required [disabled]="true">
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="giaTri" class="form-label">Giá trị</label>
                  <input type="text" class="form-control" id="giaTri" [(ngModel)]="kichCoUpdate.giaTri" name="giaTri"
                    placeholder="Nhập giá trị kích cỡ" required>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mô tả và trạng thái -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin bổ sung</h6>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="moTa" class="form-label">Mô tả</label>
                  <textarea class="form-control" id="moTa" [(ngModel)]="kichCoUpdate.moTa" name="moTa" rows="2"
                    placeholder="Nhập mô tả chi tiết"></textarea>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="trangThai" class="form-label">Trạng thái</label>
                  <select class="form-select" id="trangThai" [(ngModel)]="kichCoUpdate.trangThai" name="trangThai">
                    <option value="ACTIVE">Hoạt động</option>
                    <option value="INACTIVE">Ngừng hoạt động</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal" id="closeModalUpdate">
          <i class="fa-regular fa-circle-xmark"></i> Đóng
        </button>
        <button type="button" class="btn btn-danger rounded-pill" (click)="submitUpdate()">
          <i class="fa-solid fa-wrench"></i> Lưu thay đổi
        </button>
      </div>
    </div>
  </div>
</div>
