<div class="list-product-zone">
  <div class="card">
    <div class="card-header">
      <h5 class="title-component">Danh sách màu sắc</h5>
      <div class="button-group">
        <button class="btn btn-create" data-bs-toggle="modal" data-bs-target="#addColorModal">
          <i class="fa-regular fa-square-plus"></i> Thêm màu sắc
        </button>
        <!-- <button class="btn btn-exportexcel">
          <i class="fa-regular fa-file-excel"></i> Xuất excel
        </button> -->
      </div>
    </div>
    <div class="card-body">
      <br>
      <div class="d-flex justify-content-center">
        <form class="w-75">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group mb-3">
                <label for="maMauSac">Mã màu sắc</label>
                <input [(ngModel)]="mauSacSearch.maMauSac" placeholder="Nhập mã màu sắc" type="text" name="maMauSac"
                  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group mb-3">
                <label for="tenMau">Tên màu sắc</label>
                <input [(ngModel)]="mauSacSearch.tenMau" placeholder="Nhập tên màu sắc" type="text" name="tenMau"
                  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <button type="button" (click)="resetSearch()" class="btn-custom btn-white mx-2">
                <i class="fa-solid fa-arrows-rotate"></i> Nhập lại
              </button>
              <button type="submit" (click)="searchMS()" class="btn-custom btn-create">
                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
              </button>
            </div>
          </div>
        </form>
      </div>
      <br>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">STT</th>
              <th>Mã màu sắc</th>
              <th>Tên màu sắc</th>
              <th>Giá trị</th>
              <th>Mô tả</th>
              <th class="text-center">Trạng thái</th>
              <th class="text-center">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mauSac of mauSacs, let i= index">
              <td class="text-center align-content-center">{{ tinhSTT(paginatinonOfMauSac.page,
                paginatinonOfMauSac.size, i)}}</td>
              <td class="align-content-center">{{ mauSac.maMauSac }}</td>
              <td class="align-content-center">{{ mauSac.tenMau }}</td>
              <td class="align-content-center">{{ mauSac.giaTri }}</td>
              <td class="align-content-center">{{ mauSac.moTa }}</td>
              <td class="text-center align-content-center">
                <span class="status-tag">{{ mauSac.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt động' }}</span>
              </td>
              <td class="text-center align-content-center">
                <button (click)="handleDetailMauSac(mauSac)" class="btn eye-btn" data-bs-toggle="modal"
                  data-bs-target="#detailModal">
                  <i class="fa-regular fa-eye" title="Chi tiết"></i>
                </button>
                <button (click)="handleUpdateMauSac(mauSac.idMauSac)" class="btn edit-btn" data-bs-toggle="modal"
                  data-bs-target="#updateColorModal">
                  <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center pagination-buttons mb-2">
        <button [disabled]="paginatinonOfMauSac.first" (click)="handlePageSPCTChange('pre')"
          class="btn btn-primary mx-2 custom-pagination-button">
          <i class="fa-solid fa-angle-left"></i>
        </button>

        <span class="page-indicator">
          {{ paginatinonOfMauSac.page + 1 }} / {{ paginatinonOfMauSac.totalPages }}
        </span>

        <button [disabled]="paginatinonOfMauSac.last" (click)="handlePageSPCTChange('next')"
          class="btn btn-primary mx-2 custom-pagination-button">
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Chi Tiết Màu sắc -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content rounded-4 border-0 shadow-lg">
      <!-- Modal Header -->
      <div class="modal-header bg-gradient bg-xanh-lam text-white py-2">
        <h5 class="modal-title fw-bold" id="detailModalLabel">Chi tiết màu sắc</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body px-4 py-3">
        <!-- Thông tin cơ bản -->
        <div class="card mb-3 shadow-sm border-0 rounded-3">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin màu sắc</h6>
            <div class="row">
              <div class="col-6">
                <p><strong>ID:</strong> {{ mauSacDetail.idMauSac }}</p>
                <p><strong>Mã màu sắc:</strong> {{ mauSacDetail.maMauSac }}</p>
                <p><strong>Tên màu sắc:</strong> {{ mauSacDetail.tenMau }}</p>
              </div>
              <div class="col-6">
                <div class="col-6 d-flex align-items-center">
                  <p style="margin-right: 5px;"><strong>Giá trị:</strong> {{ mauSacDetail.giaTri}}</p>
                  <div
                    [ngStyle]="{'background-color': mauSacDetail.giaTri, 'width': '100px', 'height': '30px', 'border-radius': '5px', 'border': '1px solid #ccc'}">
                  </div>
                </div>
                <p><strong>Mô tả:</strong> {{ mauSacDetail.moTa }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Trạng thái-->
        <div class="card mb-3 shadow-sm border-0 rounded-3">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Trạng thái màu sắc</h6>
            <div class="row">
              <div class="col-6">
                <p><strong>Trạng thái:</strong>
                  <span
                    class="badge {{ mauSacDetail.trangThai === 'ACTIVE' ? 'bg-success' : 'bg-xanh-lam' }} rounded-pill">
                    {{ mauSacDetail.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt động' }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">
          <i class="fa-regular fa-circle-xmark"></i> Đóng
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Modal thêm màu sắc -->
<div class="modal fade" id="addColorModal" tabindex="-1" aria-labelledby="addColorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- Sử dụng modal-lg cho đồng bộ kích thước -->
    <div class="modal-content rounded-4 border-0 shadow-lg">
      <!-- Modal Header -->
      <div class="modal-header bg-gradient bg-xanh-lam text-white py-3">
        <h5 class="modal-title fw-bold" id="addColorModalLabel">Thêm màu sắc</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body px-4 py-3">
        <!-- Thông tin thêm mới -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin màu sắc</h6>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="mb-3">
                  <label for="colorName" class="form-label">Tên màu sắc<span class="required">*</span></label>
                  <input type="text" class="form-control" id="colorName" formControlName="tenMau"
                    [(ngModel)]="mauSacAdd.tenMau" placeholder="Nhập tên màu sắc">
                  <div *ngIf="form.get('tenMau')?.invalid && form.get('tenMau')?.touched">
                    <small *ngIf="form.get('tenMau')?.hasError('required')" class="text-danger">Tên màu sắc là bắt
                      buộc</small>
                    <small *ngIf="form.get('tenMau')?.hasError('minlength')" class="text-danger">Tên màu sắc phải lớn
                      hơn 1 ký tự</small>
                    <small *ngIf="form.get('tenMau')?.hasError('maxlength')" class="text-danger">Tên màu sắc không
                      được quá 225 ký tự</small>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Giá trị  -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin bổ sung</h6>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="mb-3">
                  <label for="giaTri" class="form-label">Giá trị<span class="required">*</span></label>
                  <input type="color" class="form-control" id="giaTri" formControlName="giaTri"
                    [(ngModel)]="mauSacAdd.giaTri" placeholder="Nhập giá trị màu sắc">
                  <div *ngIf="form.get('giaTri')?.invalid && form.get('giaTri')?.touched">
                    <small *ngIf="form.get('giaTri')?.hasError('required')" class="text-danger">Giá trị màu sắc là bắt
                      buộc</small>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Trạng thái và mô tả-->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Trạng thái màu sắc</h6>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="colorStatus" class="form-label">Trạng thái</label>
                  <select class="form-select" id="colorStatus" [(ngModel)]="mauSacAdd.trangThai" name="colorStatus">
                    <option value="ACTIVE">Hoạt động</option>
                    <option value="INACTIVE">Ngừng hoạt động</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="colorDescription" class="form-label">Mô tả</label>
                  <textarea class="form-control" id="colorDescription" [(ngModel)]="mauSacAdd.moTa"
                    name="colorDescription" rows="2" placeholder="Nhập mô tả chi tiết"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal" id="closeModalAdd">
          <i class="fa-regular fa-circle-xmark"></i> Đóng
        </button>
        <button type="button" class="btn btn-danger rounded-pill" (click)="submitAdd()">
          <i class="fa-solid fa-floppy-disk"></i> Thêm màu sắc
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal cập nhật màu sắc -->
<div class="modal fade" id="updateColorModal" tabindex="-1" aria-labelledby="updateColorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- Kích thước lớn giống modal chi tiết -->
    <div class="modal-content rounded-4 border-0 shadow-lg">
      <!-- Modal Header -->
      <div class="modal-header bg-gradient bg-xanh-lam text-white py-3">
        <h5 class="modal-title fw-bold" id="updateColorModalLabel">Cập nhật màu sắc</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body px-4 py-3">
        <!-- Thông tin cập nhật -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin màu sắc</h6>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="idMauSac" class="form-label">ID màu sắc</label>
                  <input type="text" class="form-control" id="idMauSac" [(ngModel)]="mauSacUpdate.idMauSac"
                    name="idMauSac" [disabled]="true">
                </div>
                <div class="mb-3">
                  <label for="updateColorMa" class="form-label">Mã màu sắc</label>
                  <input type="text" class="form-control" id="updateColorMa" [(ngModel)]="mauSacUpdate.maMauSac"
                    name="updateColorMa" placeholder="Nhập mã màu sắc" required [disabled]="true">
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="updateColorName" class="form-label">Tên màu sắc</label>
                  <input type="text" class="form-control" id="updateColorName" [(ngModel)]="mauSacUpdate.tenMau"
                    name="updateColorName" placeholder="Nhập tên màu sắc" required>
                  <div *ngIf="form.get('tenMau')?.invalid && form.get('tenMau')?.touched">
                    <small *ngIf="form.get('tenMau')?.hasError('required')" class="text-danger">Tên màu sắc là bắt
                      buộc</small>
                    <small *ngIf="form.get('tenMau')?.hasError('minlength')" class="text-danger">Tên màu sắc phải lớn
                      hơn 1 ký tự</small>
                    <small *ngIf="form.get('tenMau')?.hasError('maxlength')" class="text-danger">Tên màu sắc không
                      được quá 225 ký tự</small>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="updateColorValue" class="form-label">Giá trị</label>
                  <input type="color" class="form-control" id="updateColorValue" [(ngModel)]="mauSacUpdate.giaTri"
                    name="updateColorValue" placeholder="Nhập giá trị màu sắc" required>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mô tả và trạng thái -->
        <div class="card mb-3 shadow-sm">
          <div class="card-body py-2 px-4">
            <h6 class="card-title text-secondary mb-2">Thông tin bổ sung</h6>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="updateColorDescription" class="form-label">Mô tả</label>
                  <textarea class="form-control" id="updateColorDescription" [(ngModel)]="mauSacUpdate.moTa"
                    name="updateColorDescription" rows="2" placeholder="Nhập mô tả chi tiết"></textarea>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="updateColorStatus" class="form-label">Trạng thái</label>
                  <select class="form-select" id="updateColorStatus" [(ngModel)]="mauSacUpdate.trangThai"
                    name="updateColorStatus">
                    <option value="ACTIVE">Hoạt động</option>
                    <option value="INACTIVE">Ngừng hoạt động</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal" id="closeModalUpdate">
          <i class="fa-regular fa-circle-xmark"></i> Đóng
        </button>
        <button type="button" class="btn btn-danger rounded-pill" (click)="submitUpdate()">
          <i class="fa-solid fa-wrench"></i> Lưu thay đổi
        </button>
      </div>
    </div>
  </div>
</div>
