<div class="container-fluid mt-3">
    <div class="row">
        <!-- Phần bên phải: Chiếm 2/3 diện tích -->
        <div class="col-12 col-lg-8 mb-3">
            <!-- Bảng danh sách hóa đơn chờ -->
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <!-- Tiêu đề 'Danh sách hóa đơn chờ' nằm bên trái -->
                        <div class="col-6 d-flex align-items-center">
                          Danh sách hóa đơn chờ
                        </div>

                        <!-- Nút 'Thêm hóa đơn' nằm bên phải -->
                        <div class="col-6 d-flex justify-content-end align-items-center">
                          <button (click)="handleCreatePendingInvoice()" class="btn-custom btn-create">
                            Thêm hóa đơn
                          </button>
                        </div>
                      </div>

                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mã HĐ</th>
                                    <th>Khách hàng</th>
                                    <th>Thời gian tạo</th>
                                    <th>Tổng tiền</th>
                                    <th>Trạng thái</th>
                                    <!-- <th>Hành động</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hd of listPendingInvoice" (click)="onSelectInvoice(hd.idHoaDon)">
                                    <td>{{ hd.idHoaDon }}</td>
                                    <td>{{ hd.maHoaDon }}</td>
                                    <td>{{ hd.tenKhachHang }}</td>
                                    <td>{{ hd.ngayTaoDon | date: 'HH:mm:ss dd-MM-yyyy'}}</td>
                                    <td>{{ hd.tongTien }}</td>
                                    <td>{{ hd.trangThai }}</td>
                                    <!-- <td>
                                        <button (click)="onSelectInvoice(hd.idHoaDon)">
                                            Xem chi tiết
                                        </button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Bảng chi tiết hóa đơn (hdct) -->
            <div class="card mb-3">
                <div class="card-header">Chi tiết hóa đơn</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Mã HĐCT</th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Nội dung chi tiết hóa đơn -->
                                <tr *ngFor="let hdct of listDetailInvoiceByIdInvoice">
                                    <td>{{ hdct.maHoaDonChiTiet }}</td>
                                    <td>{{ hdct.sanPhamChiTiet.sanPham.tenSanPham }}</td>
                                    <td>{{ hdct.soLuong }}</td>
                                    <td>{{ hdct.donGia }}</td>
                                    <td>{{ hdct.tongTien }}</td>
                                </tr>
                                <tr *ngIf="!listDetailInvoiceByIdInvoice.length">
                                    <td colspan="4" class="text-center">Chưa có chi tiết hóa đơn được chọn.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Bảng sản phẩm -->
            <div class="card">
                <div class="card-header">Danh sách sản phẩm</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Tồn kho</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Nội dung sản phẩm -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Phần bên trái: Chiếm 1/3 diện tích -->
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">Thông tin thanh toán</div>
                <div class="card-body">
                    <div class="card-header d-flex justify-content-end">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailCustomerModal">
                            <i class="fa-regular fa-square-plus"></i> Chọn khách hàng
                        </button>
                    </div>

                    <!-- Modal Chi Tiết Khách Hàng -->
                    <div class="modal fade" id="detailCustomerModal" tabindex="-1"
                        aria-labelledby="detailCustomerModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header bg-danger text-white">
                                    <h5 class="modal-title" id="detailCustomerModalLabel">Danh sách khách hàng</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-primary" (click)="navigateToAddCustomer()">
                                            <i class="fa-regular fa-square-plus"></i> Thêm khách hàng
                                        </button>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-center">
                                        <form class="w-75">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <span class="input-group-text" id="inputGroup-sizing-sm">Mã
                                                            khách hàng</span>
                                                        <input type="text" class="form-control"
                                                            aria-label="Sizing example input"
                                                            aria-describedby="inputGroup-sizing-sm"
                                                            [(ngModel)]="khachHangSearchRequest.maKhachHang"
                                                            name="maKhachHang">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <span class="input-group-text" id="inputGroup-sizing-sm">Số điện
                                                            thoại</span>
                                                        <input type="text" class="form-control"
                                                            aria-label="Sizing example input"
                                                            aria-describedby="inputGroup-sizing-sm"
                                                            [(ngModel)]="khachHangSearchRequest.soDienThoai"
                                                            name="soDienThoai">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-lg-12 d-flex justify-content-center">
                                                    <button (click)="resetSearch()" class="btn btn-warning mx-2">
                                                        <i class="fa-solid fa-backward"></i> Chọn lại
                                                    </button>
                                                    <button (click)="searchCustomers()" class="btn btn-info mx-2">
                                                        <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <br>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Mã khách hàng</th>
                                                    <th>Tên khách hàng</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let kh of khachHangs; let i = index">
                                                    <td>{{ i + 1 }}</td>
                                                    <td>{{ kh.maKhachHang }}</td>
                                                    <td>{{ kh.tenKhachHang }}</td>
                                                    <td>{{ kh.soDienThoai }}</td>
                                                    <td>
                                                        <button (click)="selectCustomer(kh)"
                                                            class="btn btn-success btn-sm">
                                                            <i class="fa-solid fa-hand-point-up"></i> Chọn
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="d-flex justify-content-end">
                                            <!-- Pagination Buttons -->
                                            <nav aria-label="Page navigation" class="mt-4">
                                                <ul class="pagination justify-content-center">
                                                    <li class="page-item" [class.disabled]="page === 0">
                                                        <a class="page-link" (click)="changePage(page = 0)"
                                                            aria-label="Previous">
                                                            <span aria-hidden="true">Đầu</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item" [class.disabled]="page === 0">
                                                        <a class="page-link" (click)="changePage(page - 1)"
                                                            aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item"
                                                        *ngFor="let page of [].constructor(totalPages); let i = index"
                                                        [class.active]="0 === page">
                                                        <a class="page-link" (click)="changePage(i)">{{ i + 1 }}</a>
                                                    </li>
                                                    <li class="page-item" [class.disabled]="page === totalPages - 1">
                                                        <a class="page-link" (click)="changePage(page + 1)"
                                                            aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item" [class.disabled]="page ===  totalPages - 1">
                                                        <a class="page-link"
                                                            (click)="changePage(page = totalPages  - 1)"
                                                            aria-label="Previous">
                                                            <span aria-hidden="true">Cuối</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal" id="closeModalSelectedCustomer">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Thông tin khách hàng đã chọn -->
                    <div *ngIf="selectedCustomer">
                        <p><strong>Mã khách hàng:</strong> {{ selectedCustomer.maKhachHang }}</p>
                        <p><strong>Tên khách hàng:</strong> {{ selectedCustomer.tenKhachHang }}</p>
                        <p><strong>Số điện thoại:</strong> {{ selectedCustomer.soDienThoai }}</p>
                    </div>
                    <div *ngIf="!selectedCustomer">
                        <p>Vui lòng chọn khách hàng.</p>
                    </div>

                    <!-- Các thông tin thanh toán -->
                    <p>Thành tiền:</p>
                    <p>Thuế:</p>
                    <p>Khuyến mãi:</p>
                    <hr>
                    <h4>Tổng thanh toán:</h4>
                    <button class="btn btn-primary btn-block">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal sản phẩm chi tiết -->
<div class="modal fade" id="thuocTinhModal" tabindex="-1" aria-labelledby="thuocTinhModalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="thuocTinhModalModalLabel">Danh sách sản phẩm chi tiết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <form class="w-75 mx-auto">
            <div class="row mb-3">
              <div class="col-lg-12 text-center">
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text">Mã sản phẩm chi tiết</span>
                  <input type="text" class="form-control" aria-label="maSpct"
                    [(ngModel)]="this.sanPhamChiTietSearchs.maSpct" name="maSpct" required
                    placeholder="Tìm kiếm theo mã spct. ">

                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-text">Màu sắc</span>
                  <select [(ngModel)]="this.sanPhamChiTietSearchs.idMauSac" name="idMauSac" class="form-select text-center">
                    <option [ngValue]="null" class="title-combo">--- Chọn màu sắc ---</option>
                    <option *ngFor="let ms of mauSacs" [ngValue]="ms.idMauSac">{{ ms.tenMau }}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-text">Chất liệu</span>
                  <select [(ngModel)]="this.sanPhamChiTietSearchs.idChatLieu" name="idChatLieu" class="form-select text-center">
                    <option [ngValue]="null" class="title-combo">--- Chọn chất liệu ---</option>
                    <option *ngFor="let cl of chatLieus" [ngValue]="cl.idChatLieu">{{ cl.tenChatLieu }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-text">Chất liệu đế giày</span>
                  <select [(ngModel)]="this.sanPhamChiTietSearchs.idChatLieuDeGiay" name="idChatLieuDeGiay" class="form-select text-center">
                    <option [ngValue]="null" class="title-combo">--- Chọn chất liệu đế giày ---</option>
                    <option *ngFor="let cld of chatLieuDeGiays" [ngValue]="cld.idChatLieuDeGiay">{{ cld.tenChatLieuDeGiay }}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-text">Kiểu đế giày</span>
                  <select [(ngModel)]="this.sanPhamChiTietSearchs.idKieuDeGiay" name="idKieuDeGiay" class="form-select text-center">
                    <option [ngValue]="null" class="title-combo">--- Chọn kiểu đế giày ---</option>
                    <option *ngFor="let kd of kieuDeGiays" [ngValue]="kd.idKieuDeGiay">{{ kd.tenKieuDeGiay }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-lg-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-text">Trọng lượng</span>
                  <select [(ngModel)]="this.sanPhamChiTietSearchs.idTrongLuong" name="idTrongLuong" class="form-select text-center">
                    <option [ngValue]="null" class="title-combo">--- Chọn trọng lượng ---</option>
                    <option *ngFor="let tl of trongLuongs" [ngValue]="tl.idTrongLuong">{{ tl.giaTri }} kg</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="input-group input-group-sm">
                  <span class="input-group-text">Kích cỡ</span>
                  <select [(ngModel)]="this.sanPhamChiTietSearchs.idKichCo" name="idKichCo" class="form-select text-center">
                    <option [ngValue]="null" class="title-combo">--- Chọn kích cỡ ---</option>
                    <option *ngFor="let kc of kichCos" [ngValue]="kc.giaTri">{{ kc.giaTri }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center">
                <button type="button" (click)="resetForm()" class="btn btn-warning mx-2">
                  <i class="fa-solid fa-backward"></i> Chọn lại
                </button>
                <button type="submit" (click)="submitSearch()" class="btn btn-info mx-2">
                  <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
                </button>
              </div>
            </div>
          </form>
        </div>
        <br>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</div>
