.btn-danger {
  background-color: #dc3545; /* Màu đỏ */
  color: white;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333; /* Màu đỏ đậm hơn khi hover */
}


.counter-sale-zone {
  margin: 10px;
  background-color: white;
  padding: 10px  ;
}

.row-data {
    background-color: #f8f9fa; /* Màu nền mẫu */
    color: #333; /* Màu chữ mẫu */
}

  /* Đổi màu nền và màu chữ của tab khi đang được chọn */
.nav-tabs .nav-link.active {
  background-color: #6795b8;
  color: #fff;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Thêm hiệu ứng hover cho tab */
.nav-tabs .nav-link:hover {
  color: #007bff;
  background-color: #e9ecef;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hiệu ứng cho nội dung khi tab chuyển đổi */
.tab-content .tab-pane {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tab-content .tab-pane.active {
  opacity: 1;
}

/* Thêm hiệu ứng di chuyển từ dưới lên khi tab chuyển đổi */
.tab-content .tab-pane {
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.nav-link {
  color: black;
}
.tab-content .tab-pane.active {
  transform: translateY(0);
}

.card {
  border: 1px solid #00000013;
}

.title-info {
  font-weight: bold;
}

.info-zone {
  margin: 10px 0 10px 0;
}


.modal-product-detail {
  min-width: 80%;
}

.modal-customer-detail {
  min-width: 60%;
}

.modal-customer-add {
  min-width: 60%;
}

.modal-cancel-coupon{
  min-width: 30%;
}

.modal-payment {
  max-height: 50%;
  width: 30%;
}


.page-indicator {
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-weight: bold;
  color: #333;
}

.btn-active {
  background-color: #28a745; /* Màu xanh */
  color: white; /* Màu chữ */
}



td {
  font-weight: 400;
  border-bottom: 1px dashed #D6D7D9;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  // max-width: 150px;
}

.img-fluid {
  height: 600px;
}