<app-loading [hidden]="!loading"></app-loading>

<div [hidden]="loading" class="list-invoice-zone">
    <div class="card">
        <div class="card-header">
            <h5 class="title-component">Danh sách hóa đơn</h5>
            <div class="button-group">
                <button class="btn btn-exportexcel"><i class="fa-regular fa-file-excel"></i> Xuất excel</button>
            </div>
        </div>
        <div class="card-body">
            <br>
            <div class="d-flex justify-content-center">
                <form class="w-75 invoice-search-form" (ngSubmit)="searchInvoice()">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group mb-3">
                                <label for="">Mã hóa đơn</label>
                                <input [(ngModel)]="inVoiceSearch.maHoaDon" placeholder="Nhập mã hóa đơn" type="text" name="maHoaDon" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group mb-3">
                                <label for="">Tên khách hàng</label>
                                <input [(ngModel)]="inVoiceSearch.tenKhachHang" placeholder="Nhập tên khách hàng" type="text" name="tenKhachHang" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group mb-3">
                                <label for="">Số điện thoại</label>
                                <input [(ngModel)]="inVoiceSearch.soDienThoai" placeholder="Nhập số điện thoại" type="text" name="tenKhachHang" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group mb-3">
                                <label for="">Loại hóa đơn</label>
                                <select class="form-select" [(ngModel)]="selectedInvoiceType" name="loaiHoaDon"
                                    (change)="filterInvoice()">
                                    <option (select)="true" [ngValue]="null">Tất cả</option>
                                    <option *ngFor="let statusInvoieType of statusInvoieType" [ngValue]="statusInvoieType">{{
                                        getInvoiceType(statusInvoieType) }}</option>
                                </select>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <button (click)="resetSearch()" class="btn-custom btn-white m-2"> <i
                                    class="fa-solid fa-arrows-rotate"></i> Nhập lại</button>
                            <button (click)="searchInvoice()" class="btn-custom btn-create m-2"> <i
                                    class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</button>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
            <br>

            <div class="form-search">
                <mat-tab-group>
                    <!-- Tab Tất cả -->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span>Tất cả</span>
                            <span class="badge">{{ invoiceTotalCount }}</span>
                        </ng-template>
                        <div>
                            <ng-container *ngIf="hoaDons.length; else noInvoice">
                                <ng-template [ngTemplateOutlet]="invoiceTableTemplate"></ng-template>
                            </ng-container>
                            <ng-template #noInvoice>
                                <p>Không có hóa đơn nào để hiển thị.</p>
                            </ng-template>
                        </div>
                    </mat-tab>

                    <!-- Tab Đang chờ thanh toán -->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span>Đang chờ thanh toán</span>
                            <span class="badge">{{ invoicePendingCount }}</span>
                        </ng-template>
                        <div>
                            <ng-container *ngIf="hoaDons.length; else noInvoicePending">
                                <ng-template [ngTemplateOutlet]="invoiceTableTemplate"
                                    [ngTemplateOutletContext]="{ filter: StatusHD.PENDING }"></ng-template>
                            </ng-container>
                            <ng-template #noInvoicePending>
                                <p>Không có hóa đơn nào đang chờ thanh toán.</p>
                            </ng-template>
                        </div>
                    </mat-tab>

                    <!-- Tab Đang chờ xử lý -->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span>Đang chờ xử lý</span>
                            <span class="badge">{{ invoicePendingProcessingCount }}</span>
                        </ng-template>
                        <div>
                            <ng-container *ngIf="hoaDons.length; else noInvoicePendingProcessing">
                                <ng-template [ngTemplateOutlet]="invoiceTableTemplate"
                                    [ngTemplateOutletContext]="{ filter: StatusHD.PENDINGPROCESSING }"></ng-template>
                            </ng-container>
                            <ng-template #noInvoicePendingProcessing>
                                <p>Không có hóa đơn nào đang chờ xử lý.</p>
                            </ng-template>
                        </div>
                    </mat-tab>

                    <!-- Tab Đang vận chuyển -->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span>Đang vận chuyển</span>
                            <span class="badge">{{ invoiceShippingCount }}</span>
                        </ng-template>
                        <div>
                            <ng-container *ngIf="hoaDons.length; else noInvoiceShipping">
                                <ng-template [ngTemplateOutlet]="invoiceTableTemplate"
                                    [ngTemplateOutletContext]="{ filter: StatusHD.SHIPPING }"></ng-template>
                            </ng-container>
                            <ng-template #noInvoiceShipping>
                                <p>Không có hóa đơn nào đang vận chuyển.</p>
                            </ng-template>
                        </div>
                    </mat-tab>

                    <!-- Tab Đã thanh toán -->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span>Đã thanh toán</span>
                            <span class="badge">{{ invoicePaidCount }}</span>
                        </ng-template>
                        <div>
                            <ng-container *ngIf="hoaDons.length; else noInvoicePaid">
                                <ng-template [ngTemplateOutlet]="invoiceTableTemplate"
                                    [ngTemplateOutletContext]="{ filter: StatusHD.PAID }"></ng-template>
                            </ng-container>
                            <ng-template #noInvoicePaid>
                                <p>Không có hóa đơn nào đã thanh toán.</p>
                            </ng-template>
                        </div>
                    </mat-tab>

                    <!-- Tab Đã hủy -->
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span>Đã hủy</span>
                            <span class="badge">{{ invoiceCancelledCount }}</span>
                        </ng-template>
                        <div>
                            <ng-container *ngIf="hoaDons.length; else noInvoiceCancelled">
                                <ng-template [ngTemplateOutlet]="invoiceTableTemplate"
                                    [ngTemplateOutletContext]="{ filter: StatusHD.CANCELLED }"></ng-template>
                            </ng-container>
                            <ng-template #noInvoiceCancelled>
                                <p>Không có hóa đơn nào đã hủy.</p>
                            </ng-template>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <br>

            <!-- Phân trang -->
            <div class="card-footer">
                <div class="d-flex justify-content-center pagination-buttons mb-2">
                    <button [disabled]="paginatinonOfInvoice.first" (click)="handlePageInvoiceChange('pre')"
                        class="btn btn-primary mx-2 custom-pagination-button">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>

                    <span class="page-indicator">
                        {{ paginatinonOfInvoice.page + 1 }} / {{ paginatinonOfInvoice.totalPages }}
                    </span>

                    <button [disabled]="paginatinonOfInvoice.last" (click)="handlePageInvoiceChange('next')"
                        class="btn btn-primary mx-2 custom-pagination-button">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            </div>

            <!-- Template cho bảng hóa đơn -->
            <ng-template #invoiceTableTemplate let-filter="filter">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>STT</th>
                            <th>Mã hóa đơn</th>
                            <th>Ngày tạo đơn</th>
                            <th>Phí vận chuyển</th>
                            <th>Tổng tiền</th>
                            <th>Tổng tiền sau giảm</th>
                            <th>Khách hàng</th>
                            <th>SĐT</th>
                            <th>Nhân viên</th>
                            <th>PTTT</th>
                            <th>Loại hóa đơn</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                        <tr *ngFor="let hoaDon of hoaDons; let i = index" [hidden]="filter && hoaDon.trangThai !== filter">
                            <td>{{ tinhSTT(paginatinonOfInvoice.page, paginatinonOfInvoice.size, i) }}</td>
                            <td>{{ hoaDon.maHoaDon }}</td>
                            <td>{{ hoaDon.ngayTaoDon }}</td>
                            <td>{{ hoaDon.phiVanChuyen ? (hoaDon.phiVanChuyen | currency: 'VND') : 0 }}</td>
                            <td>{{ hoaDon.tongTien | currency: 'VND'}}</td>
                            <td>{{ hoaDon.tongTienSauGiam | currency: 'VND'}}</td>
                            <td>{{ hoaDon?.khachHang?.tenKhachHang }}</td>
                            <td>{{ hoaDon?.khachHang?.soDienThoai}}</td>
                            <td>{{ hoaDon?.nhanVien?.hoTen }}</td>
                            <td>{{ hoaDon?.thanhToan?.phuongThucThanhToan}}</td>
                            <td>
                                <span class="status-tag {{ hoaDon.loaiHoaDon | lowercase }}">
                                    {{ getInvoiceType(hoaDon.loaiHoaDon) }}
                                </span>
                            </td>
                            <td>
                                <span class="status-tag {{ hoaDon.trangThai | lowercase }}">
                                    {{ getInvoiceStatus(hoaDon.trangThai) }}
                                </span>
                            </td>
                            <td>
                                <button (click)="handleDetailInvoice(hoaDon.idHoaDon)" class="btn eye-btn">
                                    <i class="fa-regular fa-eye" title="Chi tiết"></i>
                                </button>
                                <button (click)="handleUpdateInvoice(hoaDon.idHoaDon)" class="btn edit-btn" [disabled]="hoaDon.trangThai !== StatusHD.PENDINGPROCESSING && hoaDon.trangThai !== StatusHD.SHIPPING">
                                    <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </ng-template>
        </div>
    </div>
</div>

