<div class="update-invoice-zone">
    <div class="card">
        <div class="card-header">
            <h5 class="title-component">Cập nhật thông tin hóa đơn</h5>
        </div>
        <div class="card-body">
            <form (ngSubmit)="submitUpdate()"  #invoiceForm="ngForm"  class="bg-light p-4 rounded shadow">
                <div class="row">
                    <div class="col-lg-3">
                        <div class=" form-group mb-4">
                            <label for="idHoaDon">ID hóa đơn</label>
                            <input [(ngModel)]="selectedInvoice.idHoaDon" type="text" name="idHoaDon"
                                class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" [disabled]="true">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-4">
                            <label for="maHoaDon">Mã hóa đơn</label>
                            <input [(ngModel)]="selectedInvoice.maHoaDon" type="text" name="maHoaDon"
                                class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" [disabled]="true">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group mb-4">
                            <label for="phiVanChuyen">Phí vận chuyển<span class="required">*</span></label>
                            <input [(ngModel)]="selectedInvoice.phiVanChuyen" placeholder="Nhập phí vận chuyển"
                                type="number" name="phiVanChuyen" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" [disabled]="isShippingStatus()">
                            <div *ngIf="invoiceForm.submitted && !invoiceForm.controls['phiVanChuyen']?.valid" class="text-danger">
                                Phí vận chuyển không được để trống!
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group mb-4">
                            <label for="loaiHoaDon">Loại hóa đơn<span class="required">*</span></label>
                            <select class="form-select form-select-lg" id="loaiHoaDon"
                                [(ngModel)]="selectedInvoice.loaiHoaDon" name="loaiHoaDon" required
                                #loaiHoaDon="ngModel" class="form-control"
                                [ngClass]="{'is-invalid': loaiHoaDon.touched && loaiHoaDon.invalid}" [disabled]="isShippingStatus()">
                                <option value="COUTERSALES">Bán tại quầy</option>
                                <option value="ONLINESALES">Bán online</option>
                            </select>
                            <div *ngIf="loaiHoaDon.touched && loaiHoaDon.invalid" class="invalid-feedback">
                                Vui lòng chọn trạng thái hợp lệ.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <label for="diaChiGiaoHang">Địa chỉ giao hàng<span class="required">*</span></label>
                            <input [(ngModel)]="selectedInvoice.diaChiGiaoHang" placeholder="Nhập địa chỉ giao hàng"
                                type="text" name="diaChiGiaoHang" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" [disabled]="isShippingStatus()">
                            <div *ngIf="invoiceForm.submitted && !invoiceForm.controls['diaChiGiaoHang']?.valid" class="text-danger">
                                Địa chỉ giao hàng không được để trống!
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group mb-4">
                            <label for="trangThai">Trạng Thái<span class="required">*</span></label>
                            <select class="form-select form-select-lg" id="trangThai"
                                [(ngModel)]="selectedInvoice.trangThai" name="trangThai" required #trangThai="ngModel"
                                class="form-control" [ngClass]="{'is-invalid': trangThai.touched && trangThai.invalid}">
                                <option value="PENDING">Đang chờ thanh toán</option>
                                <option value="PENDINGPROCESSING">Đang chờ xử lý</option>
                                <option value="SHIPPING">Đang vận chuyển</option>
                                <option value="PAID">Đã thanh toán</option>
                                <option value="CANCELLED">Đã hủy</option>

                            </select>
                            <!-- Hiển thị thông báo lỗi nếu trường không hợp lệ -->
                            <div *ngIf="trangThai.touched && trangThai.invalid" class="invalid-feedback">
                                Vui lòng chọn trạng thái hợp lệ.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mb-4">
                            <label for="ghiChu">Ghi Chú</label>
                            <input [(ngModel)]="selectedInvoice.ghiChu" placeholder="Nhập ghi chú (nếu có)"
                            type="text" name="ghiChu" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn-custom btn-back" (click)="handleBackToListInvoice()">
                        <i class="fa-solid fa-arrow-left"></i> Quay lại
                    </button>
                    <button type="submit" class="btn-custom btn-create">
                        <i class="fa-solid fa-wrench"></i> Sửa hóa đơn
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
