<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/okconde/home">STEP STYLE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a [routerLinkActive]="['active']" class="nav-link" routerLink="/okconde/home"><i class="fa-solid fa-house"></i> Trang Chủ</a></li>
          <li class="nav-item"><a [routerLinkActive]="['active']" class="nav-link" routerLink="/okconde/history"><i class="fa-solid fa-file-invoice-dollar"></i> Lịch sử mua hàng</a></li>
          <li class="nav-item">
            <a [routerLinkActive]="['active']" class="nav-link" routerLink="/okconde/cart">
              <i class="fa-solid fa-cart-shopping"></i> Giỏ Hàng
              <span class="badge">{{cartItemCount}}</span> <!-- Số lượng sản phẩm -->
            </a>
          </li>
                    <li *ngIf="!checkLogin()" class="nav-item"><a [routerLinkActive]="['active']" class="nav-link" routerLink="/okconde/login">Đăng nhập</a></li>
          <li *ngIf="checkLogin()" class="nav-item"><a (click)="handleLogout()" class="nav-link"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
          <li *ngIf="checkLogin()" class="nav-item"><a (click)="handleLogout()" class="nav-link">| Xin chào  {{ userIsLogin.fullName }}</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
<hr class="dashed-line">
