<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/okconde/home">STEP STYLE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link active" href="/okconde/home">Trang Chủ</a></li>
          <li class="nav-item"><a class="nav-link" href="/okconde/history">Đơn hàng</a></li>
          <li class="nav-item"><a class="nav-link" href="/okconde/cart">Giỏ Hàng</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Liên Hệ</a></li>
          <li *ngIf="!checkLogin()" class="nav-item"><a class="nav-link" href="/okconde/login">Đăng nhập</a></li>
          <li *ngIf="checkLogin()" class="nav-item"><a (click)="handleLogout()" class="nav-link">Logout</a></li>
          <li *ngIf="checkLogin()" class="nav-item"><a (click)="handleLogout()" class="nav-link">Xin chào  {{ userIsLogin.fullName }}</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
<hr class="dashed-line">
