<div class="detail-invoice-zone">
    <h1 class="text-center">QUẢN LÝ HÓA ĐƠN</h1>
    <div class="card">
        <div class="card-header">
            <h5 class="title-component">Thông tin hóa đơn</h5>
        </div>
        <div class="card-body">
            <div class="detail-item">
                <strong>Ngày tạo đơn:</strong> {{hoaDon.ngayTaoDon}}
            </div>
            <div class="detail-item">
                <strong>Mã hóa đơn:</strong> {{hoaDon.maHoaDon}}
            </div>
            <div class="detail-item">
                <strong>Phí vận chuyển:</strong> {{hoaDon.phiVanChuyen}}
            </div>
            <div class="detail-item">
                <strong>Tổng tiền:</strong> {{hoaDon.tongTien}}
            </div>
            <div class="detail-item">
                <strong>Tổng tiền sau giảm:</strong> {{hoaDon.tongTienSauGiam}}
            </div>
            <div class="detail-item">
                <strong>Loại hóa đơn:</strong> {{hoaDon.loaiHoaDon}}
            </div>
            <div class="detail-item">
                <strong>Nhân viên:</strong> {{hoaDon.nhanVien.hoTen}}
            </div>
            <div class="detail-item">
                <strong>Phiếu giảm giá:</strong> {{hoaDon.phieuGiamGia.tenPhieuGiamGia}}
            </div>
            <div class="detail-item">
                <strong>Thanh toán:</strong> {{hoaDon.thanhToan.phuongThucThanhToan}}
            </div>
            <div class="detail-item">
                <strong>Địa chỉ giao hàng:</strong> {{hoaDon.diaChiGiaoHang}}
            </div>
            <div class="detail-item">
                <strong>Trạng thái:</strong>
                <span class="status-tag">
                    {{ getInvoiceStatus(hoaDon.trangThai) }}
                </span>
            </div>
        </div>
    </div> 
    <!-- Kết thúc thẻ div -->
    <br>
    <div class="card">
        <div class="card-header">
            <h5 class="title-component">Thông tin khách hàng</h5>
        </div>
        <div class="card-body">
            <div class="detail-item">
                <strong>Mã khách hàng:</strong> {{hoaDon.khachHang.maKhachHang}}
            </div>
            <div class="detail-item">
                <strong>Tên khách hàng:</strong> {{hoaDon.khachHang.tenKhachHang}}
            </div>
            <div class="detail-item">
                <strong>Số điện thoại khách hàng:</strong> {{hoaDon.khachHang.soDienThoai}}
            </div>
            <div class="detail-item">
                <strong>Email:</strong> {{hoaDon.khachHang.email}}
            </div>
            <div class="detail-item">
                <strong>Địa chỉ khách hàng:</strong> {{hoaDon.khachHang.diaChiKhachHangs}}
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h5 class="title-component">Hóa đơn chi tiết</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive"> <!-- Thêm thẻ div này -->
                <table class="table table-responsive table-bordered">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                    </tr>
                    <tr *ngFor="let hdct of hoaDon.hoaDonChiTiet">
                        <td>{{hdct.idHoaDonChiTiet}}</td>
                        <td>{{hdct.maHoaDonChiTiet}}</td>
                        <td>{{hdct.soLuong}}</td>
                        <td>{{hdct.donGia}}</td>
                        <td>{{hdct.tongTien}}</td>
                        <td>
                            <span class="status-tag">
                                {{ getInvoiceDetailStatus(hdct.trangThai) }}
                            </span>
                        </td>

                    </tr>
                </table>
            </div> <!-- Kết thúc thẻ div table-responsive -->
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h5 class="title-component">Lịch sử hóa đơn</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive"> <!-- Thêm thẻ div này -->
                <table class="table table-responsive table-bordered">
                    <tr>
                        <th>STT</th>
                        <th>Mã</th>
                        <th>Ngày tạo</th>
                        <th>Hành động</th>
                        <th>Người thực hiện</th>
                        <th>Trạng thái</th>
                    </tr>
                    <tr *ngFor="let lshd of hoaDon.lichSuHoaDon">
                        <td>{{lshd.idLshd}}</td>
                        <td>{{lshd.maLichSuHoaDon}}</td>
                        <td>{{lshd.ngayTao}}</td>
                        <td>{{lshd.hanhDong}}</td>
                        <td>{{lshd.nguoiThucHien}}</td>
                        <td>
                            <span class="status-tag">
                                {{ getInvoiceHistoryStatus(lshd.trangThai) }}
                            </span>
                        </td>

                    </tr>
                </table>
            </div> <!-- Kết thúc thẻ div table-responsive -->
        </div>
    </div>