<div class="detail-zone shadow-sm">
  <div class="">
    <div class="timeline" *ngIf="hoaDon.loaiHoaDon !== 'COUNTERSALES'">
      <div class="timeline-step" [class.active]="setTimeLineByStatus(hoaDon.trangThai) >= 1">
        <div class="circle"><i class="fa fa-clock"></i>
        </div>
        <div class="label">Chờ xác nhận</div>
      </div>
      <div class="timeline-line"></div>
      <div class="timeline-step" [class.active]="setTimeLineByStatus(hoaDon.trangThai) >= 2">
        <div class="circle"><i class="fa fa-check-circle"></i>
        </div>
        <div class="label">Đã xác nhận</div>
      </div>
      <div class="timeline-line"></div>
      <div class="timeline-step" [class.active]="setTimeLineByStatus(hoaDon.trangThai) >= 3">
        <div class="circle"><i class="fa fa-truck"></i>
        </div>
        <div class="label">Đang giao hàng</div>
      </div>
      <div class="timeline-line"></div>
      <div class="timeline-step" [class.active]="setTimeLineByStatus(hoaDon.trangThai) >= 4">
        <div class="circle"><i class="fa fa-box-open"></i>
        </div>
        <div class="label">Đã giao hàng</div>
      </div>
      <div class="timeline-line"></div>
      <div class="timeline-step" [class.active]="setTimeLineByStatus(hoaDon.trangThai) >= 5">
        <div class="circle"><i class="fa fa-credit-card"></i>
        </div>
        <div class="label">Thanh toán</div>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-2">
      <button (click)="handleChangeInvoiceStatus(getStatus().CONFIRMED)"
        *ngIf="hoaDon.trangThai === getStatus().PENDINGPROCESSING" class="btn btn-success">Xác nhận</button>
      <button (click)="handleChangeInvoiceStatus(getStatus().SHIPPING)"
        *ngIf="hoaDon.trangThai ===  getStatus().CONFIRMED" class="btn btn-success">Đang giao hàng</button>
      <button (click)="handleChangeInvoiceStatus(getStatus().DELIVERED)"
        *ngIf="hoaDon.trangThai ===  getStatus().SHIPPING" class="btn btn-success">Đã giao hàng</button>
      <button (click)="handleChangeInvoiceStatus(getStatus().PAID)" *ngIf="hoaDon.trangThai ===  getStatus().DELIVERED"
        class="btn btn-success">Đã thanh toán</button>
      <button *ngIf="hoaDon.loaiHoaDon === getLoaiHoaDon().ONLINESALES && hoaDon.trangThai !== getStatus().PAID"
        (click)="handleCancelInvoice()" class="btn btn-danger">Hủy</button>
    </div>
    <div class="card-body">
      <div class="row">
        <!-- Thông tin hóa đơn -->
        <div [class]="hoaDon.phieuGiamGia === null ? 'col-md-6 mb-4' : 'col-md-4 mb-4'">
          <div class="card shadow-sm h-100">
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="mb-0">
                    <i class="fas fa-file-invoice"></i> Thông tin hóa đơn
                  </h5>
                </div>
                <div class="col-md-6">
                  <p>
                    <strong>Trạng thái hóa đơn: </strong>
                    <span [class]="'status-' + hoaDon.trangThai.toLowerCase()">
                      {{ hamDungChung.getInvoiceStatus(hoaDon.trangThai) }}
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <!-- Cột 1 -->
                <div class="col-md-6">
                  <p><strong>Mã hóa đơn:</strong> {{hoaDon.maHoaDon}}</p>
                  <p><strong>Ngày tạo:</strong> {{hoaDon.ngayTaoDon}}</p>
                  <p><strong>Ghi chú:</strong> {{hoaDon.ghiChu}}</p>
                  <p><strong>Hình thức thanh toán:</strong> {{hoaDon.thanhToan.phuongThucThanhToan === 'CASH' ? 'Tiền mặt' : 'Chuyển khoản' }}</p>
                  <p><strong>Loại hóa đơn:</strong> {{hoaDon.loaiHoaDon === 'ONLINESALES' ? 'Bán hàng online' : 'Bán hàng tại quầy'}}</p>
                  <p><strong>Tổng tiền hàng:</strong> {{hoaDon.tongTien | currency: 'VND'}}</p>
                  <p *ngIf="hoaDon.loaiHoaDon === getLoaiHoaDon().ONLINESALES  "><strong>Phí vận chuyển:</strong>
                    {{hoaDon.phiVanChuyen | currency: 'VND'}}</p>
                  <p *ngIf="hoaDon.phieuGiamGia"><strong>Tiền sau giảm:</strong> {{hoaDon.tongTienSauGiam| currency:'VND'}}</p>
                </div>
                <!-- Cột 2 -->
                <div class="col-md-6" *ngIf="hoaDon.loaiHoaDon === getLoaiHoaDon().ONLINESALES">
                  <p><strong>Tên người đặt hàng:</strong> {{hoaDon.tenKhachHang}}</p>
                  <p><strong>Số điện thoại đặt hàng:</strong> {{hoaDon.soDienThoaiKhachHang}}</p>
                  <p><strong>Địa chỉ giao hàng:</strong> {{hoaDon.diaChiGiaoHang}}</p>
                </div>
              </div>
              <!-- Dòng tổng tiền -->
              <hr class="dashed-line">
              <p class="text-success font-weight-bold d-flex justify-content-end">
                <strong>Tổng tiền cần thanh toán: </strong> {{hoaDon.tongTienSauGiam + hoaDon.phiVanChuyen|
                currency:'VND'}}
              </p>
            </div>
          </div>
        </div>

        <!-- Thông tin khách hàng -->
        <div [class]="hoaDon.phieuGiamGia === null ? 'col-md-6 mb-4' : 'col-md-4 mb-4'">
          <div class="card shadow-sm h-100">
            <div class="card-header">
              <h5 class="mb-0">
                <i class="fas fa-user"></i> Thông tin tài khoản đặt hàng
              </h5>
            </div>
            <div class="card-body">
              <p><strong>Mã khách hàng:</strong> {{hoaDon.khachHang.maKhachHang}}</p>
              <p><strong>Tên khách hàng:</strong> {{hoaDon.khachHang.tenKhachHang}}</p>
              <p><strong>Giới tính:</strong> {{hoaDon.khachHang.gioiTinh === true ? "Nam" : "Nữ"}}</p>
              <p><strong>Email:</strong> {{hoaDon.khachHang.email}}</p>
              <p><strong>Số điện thoại:</strong> {{hoaDon.khachHang.soDienThoai}}</p>
            </div>
          </div>
        </div>
        <!-- Phiếu giảm giá đã sử dụng -->
        <div *ngIf="hoaDon?.phieuGiamGia" class="col-md-4 mb-4">
          <div class="card shadow-sm h-100">
            <div class="card-header">
              <h5 class="mb-0">
                <i class="fa-solid fa-ticket"></i> Thông tin phiếu giảm giá sử dụng
              </h5>
            </div>
            <div class="card-body">
              <p><strong>Mã phiếu giảm giá:</strong> {{hoaDon.phieuGiamGia.maPhieuGiamGia}}</p>
              <p><strong>Tên phiếu giảm giá:</strong> {{hoaDon.phieuGiamGia.tenPhieuGiamGia}}</p>
              <p><strong>Loại giảm:</strong> {{hoaDon.phieuGiamGia.loaiGiam === 'MONEY' ? "Tiền mặt" : "Phần trăm"}}</p>
              <!-- Thông tin dành cho phiếu giảm % -->
              <p *ngIf="hoaDon.phieuGiamGia.loaiGiam === 'PERCENT'"><strong>Giá trị giảm:</strong>
                {{hoaDon.phieuGiamGia.giaTriGiam}}%</p>
              <p *ngIf="hoaDon.phieuGiamGia.loaiGiam === 'PERCENT'"><strong>Số tiền giảm tối đa:</strong>
                {{hoaDon.phieuGiamGia.giaTriGiamToiDa | currency: 'VND'}}</p>
              <!-- Thông tin dành cho phiếu giảm tiền mặt -->
              <p *ngIf="hoaDon.phieuGiamGia.loaiGiam === 'MONEY'"><strong>Giá trị giảm:</strong>
                {{hoaDon.phieuGiamGia.giaTriGiam | currency: 'VND'}}</p>
              <p><strong>Giá trị hóa đơn tối thiểu được sử dụng: </strong> {{hoaDon.phieuGiamGia.giaTriHoaDonToiThieu |
                currency: 'VND'}}</p>
            </div>
          </div>
        </div>
      </div>

      <hr class="dashed-line">
      <!-- Sản phẩm đã mua -->
      <div class="card shadow-sm mb-4">
        <div class="card-header">
          <h5 class="mb-0">
            <i class="fas fa-shopping-cart"></i> Sản phẩm đã mua
          </h5>
        </div>
        <div class="card-body">
          <table class="table mb-4">
            <thead class="bg-light">
              <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Ảnh</th>
                <th>Mã sản phẩm</th>
                <th>Mã sản phẩm chi tiết</th>
                <th>Tên sản phẩm</th>
                <th>Màu sắc</th>
                <th class="text-center">Kích thước</th>
                <th class="text-center">Số lượng mua</th>
                <th class="text-center">Đơn giá</th>
                <th class="text-center">Tổng tiền</th>
                <th class="text-center">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hdct of hoaDon.hoaDonChiTiet; let index = index">
                <td class="align-content-center text-center">{{ index + 1 }}</td>
                <td class="align-content-center text-center">
                  <img class="img-product-table"
                    [src]="hdct.sanPhamChiTiet.anh === null ? 'noimage.png' : hdct.sanPhamChiTiet.anh"
                    alt="Product Image">
                </td>
                <td class="align-content-center">{{ hdct.sanPhamChiTiet.sanPham.maSanPham }}</td>
                <td class="align-content-center">{{ hdct.sanPhamChiTiet.maSpct }}</td>
                <td class="align-content-center">{{ hdct.sanPhamChiTiet.sanPham.tenSanPham }}</td>
                <td class="align-content-center">{{ hdct.sanPhamChiTiet.mauSac.tenMau }}</td>
                <td class="align-content-center text-center">{{ hdct.sanPhamChiTiet.kichCo.giaTri }}</td>
                <td class="align-content-center text-center">{{ hdct.soLuong }}</td>
                <td class="align-content-center text-center">{{ hdct.donGia | currency: 'VND' }}</td>
                <td class="align-content-center text-center">{{ hdct.tongTien | currency: 'VND' }}</td>
                <td class="align-content-center text-center">{{ hdct.tongTien | currency: 'VND' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Lịch sử hóa đơn -->
      <div class="card shadow-sm">
        <div class="card-header">
          <h5 class="mb-0">
            <i class="fas fa-history"></i> Lịch sử hóa đơn
          </h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead class="bg-light">
              <tr>
                <th>Người thực hiện</th>
                <th>Hành động</th>
                <th>Ngày thực hiện</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lshd of hoaDon.lichSuHoaDon">
                <td>{{ lshd.nguoiThucHien }}</td>
                <td>{{ lshd.hanhDong }}</td>
                <td>{{ lshd.ngayTao }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>