<div class="detail-invoice-zone">
    <h1 class="text-center">QUẢN LÝ HÓA ĐƠN</h1>
    <div class="card">
        <div class="card-header">
            <h5 class="title-component">Danh sách hóa đơn</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive"> <!-- Thêm thẻ div này -->
                <table class="table table-responsive table-bordered">
                    <tr>
                        <th>STT</th>
                        <th>Ngày tạo đơn</th>
                        <th>mã hóa đơn</th>
                        <th>Phí vận chuyển</th>
                        <th>Tổng tiền</th>
                        <th>Tổng tiền sau giảm</th>
                        <th>Loại hóa đơn</th>
                        <th>Địa chỉ giao hàng</th>
                        <th>Khách hàng</th>
                        <th>Nhân viên</th>
                        <th>Phiếu giảm giá</th>
                        <th>Thanh toán</th>
                        <th>Trạng thái</th> 
                    </tr>
                    <tr>
                        <td>{{hoaDon.idHoaDon}}</td>
                        <td>{{hoaDon.maHoaDon}}</td>
                        <td>{{hoaDon.ngayTaoDon}}</td>
                        <td>{{hoaDon.phiVanChuyen}}</td>
                        <td>{{hoaDon.tongTien}}</td>
                        <td>{{hoaDon.tongTienSauGiam}}</td>
                        <td>{{hoaDon.loaiHoaDon}}</td>
                        <td>{{hoaDon.diaChiGiaoHang}}</td>
                        <td>{{hoaDon.khachHang.tenKhachHang}}</td>
                        <td>{{hoaDon.nhanVien.hoTen}}</td>
                        <td>{{hoaDon.phieuGiamGia.tenPhieuGiamGia}}</td>
                        <td>{{hoaDon.thanhToan.phuongThucThanhToan}}</td>
                        <td>
                            <span class="status-tag">
                                {{ getInvoiceStatus(hoaDon.trangThai) }}
                            </span>
                        </td>

                    </tr>
                </table>
            </div> <!-- Kết thúc thẻ div table-responsive -->
           <div class="hehe">
                <div class="row">

                    <div class="col-lg-6">
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hdct of hoaDon.hoaDonChiTiet">
                                    <td>{{hdct.idHoaDonChiTiet}}</td>
                                    <td>{{hdct.maHoaDonChiTiet}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg-6">
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hdct of hoaDon.hoaDonChiTiet">
                                    <td>{{hdct.idHoaDonChiTiet}}</td>
                                    <td>{{hdct.maHoaDonChiTiet}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
           </div>