<div class="tree-menu">
  <div class="brand">

    <h3> <img [src]="logoBrandUrl" alt=""> Step Style</h3>
  </div>
  <ul>
    <li>
      <button [class.active]="isActive(1)" (click)="toggleMenu(1)">
        <i class="fa-solid fa-gauge icon-sidebar"></i>
        Tổng quan
      </button>
    </li>

    <li>
      <button [class.active]="isActive(2)" (click)="toggleMenu(2)">
        <i class="fa-solid fa-shop icon-sidebar"></i>
        Bán hàng tại quầy
      </button>
    </li>

    <li>
      <button [class.active]="isActive(3)" (click)="toggleMenu(3)">
        <i class="fa-solid fa-box icon-sidebar"></i>
        Quản lý sản phẩm
      </button>
    </li>



    <li>
      <button [class.active]="isActive(4)" (click)="toggleMenu(4)">
        <i class="fa-solid fa-file-invoice-dollar icon-sidebar"></i>
        Quản lý hóa đơn
      </button>
    </li>

    <li>
      <button [class.active]="isActive(5)" (click)="toggleMenu(5)">
        <i class="fa-solid fa-ticket icon-sidebar"></i>
        Quản lý phiếu giảm giá
      </button>
    </li>

    <li>
      <button [class.active]="isActive(6)" (click)="toggleMenu(6)">
        <i class="fa-solid fa-users icon-sidebar"></i>
        Quản lý người dùng
        <i
          [class]="isExpanded(6) ? 'fa-solid fa-chevron-up icon-expanded' : 'fa-solid fa-chevron-down icon-expanded'"></i>
      </button>
      <ul [class.expanded]="isExpanded(6)">
        <li [class.active]="isSubmenuActive(61)" (click)="handleClickSubmenu(61)">Quản lý nhân viên</li>
        <li [class.active]="isSubmenuActive(62)" (click)="handleClickSubmenu(62)">Quản lý khách hàng</li>
        <hr class="dashed-line">
      </ul>
    </li>

    <li>
      <button [class.active]="isActive(7)" (click)="toggleMenu(7)">
               <i class="fa-solid fa-hippo"></i>
               Thuộc tính
               <i
               [class]="isExpanded(7) ? 'fa-solid fa-chevron-up icon-expanded' : 'fa-solid fa-chevron-down icon-expanded'"></i>
      </button>
      <ul [class.expanded]="isExpanded(7)">
        <li [class.active]="isSubmenuActive(71)" (click)="handleClickSubmenu(71)">Màu sắc</li>
        <li [class.active]="isSubmenuActive(72)" (click)="handleClickSubmenu(72)">Chất liệu</li>
        <!-- <li [class.active]="isSubmenuActive(73)" (click)="handleClickSubmenu(73)">Chất liệu đế giày</li>
        <li [class.active]="isSubmenuActive(74)" (click)="handleClickSubmenu(74)">Kiểu đế giày</li> -->
        <li [class.active]="isSubmenuActive(75)" (click)="handleClickSubmenu(75)">Kích cỡ</li>
        <li [class.active]="isSubmenuActive(76)" (click)="handleClickSubmenu(76)">Trọng lượng</li>
      </ul>
    </li>
  </ul>
</div>
