<div class="list-employee-zone">
    <div class="card">
        <div class="form-search">
            <p class="title-form" style="margin: 20px;">Tìm kiếm</p>
            <div class="d-flex justify-content-center">
                <form class="w-75">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="maNhanVien">Mã nhân viên</label>
                                <input [(ngModel)]="nhanVienSearchRequest.maNhanVien" placeholder="Nhập mã nhân viên" 
                                    type="text" name="maNhanVien" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="hoTen">Tên nhân viên</label>
                                <input [(ngModel)]="nhanVienSearchRequest.hoTen" placeholder="Nhập tên nhân viên" 
                                    type="text" name="hoTen" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="soDienThoai">Số điện thoại</label>
                                <input [(ngModel)]="nhanVienSearchRequest.soDienThoai" placeholder="Nhập số điện thoại" 
                                    type="text" name="soDienThoai" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <button type="button" (click)="resetSearch()" class="btn-custom btn-white mx-2">
                                <i class="fa-solid fa-arrows-rotate"></i> Nhập lại
                            </button>
                            <button type="submit" (click)="searchEmployees()" class="btn-custom btn-create">
                                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
                            </button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <p class="title-form">Danh sách nhân viên ({{paginatinonOfEmployee.totalElements}})</p>
            <div class="button-group">
                <button class="btn btn-create" (click)="navigateToAddEmployee()">
                    <i class="fa-regular fa-square-plus"></i> Thêm nhân viên
                </button>
                <!-- <button class="btn btn-exportexcel">
                    <i class="fa-regular fa-file-excel"></i> Xuất excel
                </button> -->
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th>Mã nhân viên</th>
                            <th>Tên nhân viên</th>
                            <th class="text-center">Ngày sinh</th>
                            <th>Giới tính</th>
                            <th class="text-center">SĐT</th>
                            <th>Email</th>
                            <th>Chức vụ</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let nv of nhanViens; let i = index">
                            <td class="text-center align-content-center">{{ tinhSTT(paginatinonOfEmployee.page, paginatinonOfEmployee.size, i)}}</td>
                            <td class="align-content-center">{{ nv.maNhanVien }}</td>
                            <td class="align-content-center">{{ nv.hoTen }}</td>
                            <td class="text-center align-content-center">{{ nv.ngaySinh }}</td>
                            <td class="align-content-center">
                                <span>{{ nv.gioiTinh === true ? 'Nam' : 'Nữ' }}</span>
                            </td>
                            <td class="text-center align-content-center">{{ nv.soDienThoai }}</td>
                            <td class="align-content-center">{{ nv.email }}</td>
                            <td class="align-content-center">{{ nv.chucVu.tenChucVu === 'ADMIN' ? 'Quản lý' : 'Nhân viên' }}</td>
                            <td class="text-center align-content-center">
                                <span class="status-tag">{{ nv.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt động'
                                    }}</span>
                            </td>
                            <td class="text-center align-content-center">
                                <button (click)="handleDetailEmployee(nv)" class="btn eye-btn" data-bs-toggle="modal"
                                    data-bs-target="#detailEmployeeModal">
                                    <i class="fa-regular fa-eye" title="Chi tiết"></i>
                                </button>
                                <button (click)="handleUpdateEmployee(nv)" class="btn edit-btn">
                                    <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal Chi Tiết Nhân Viên -->
        <div class="modal fade" id="detailEmployeeModal" tabindex="-1" aria-labelledby="detailEmployeeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header bg-xanh-lam text-white py-2">
                        <h5 class="modal-title fw-bold" id="detailEmployeeModalLabel">Chi tiết nhân viên</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body px-4 py-3">
                        <!-- Thông tin cơ bản -->
                        <div class="card mb-3 shadow-sm">
                            <div class="card-body py-2 px-4">
                                <h6 class="card-title text-secondary mb-2">Thông tin nhân viên</h6>
                                <div class="row">
                                    <div class="col-6">
                                        <p><strong>Mã:</strong> {{ selectedEmployee.maNhanVien }}</p>
                                        <p><strong>Tên:</strong> {{ selectedEmployee.hoTen }}</p>
                                        <p><strong>Ngày sinh:</strong> {{ selectedEmployee.ngaySinh }}</p>
                                    </div>
                                    <div class="col-6">
                                        <p><strong>Giới tính:</strong>
                                            <span class="badge bg-info text-dark">{{ selectedEmployee.gioiTinh ? 'Nam' : 'Nữ' }}</span>
                                        </p>
                                        <p><strong>SĐT:</strong> {{ selectedEmployee.soDienThoai }}</p>
                                        <p><strong>Email:</strong> {{ selectedEmployee.email }}</p>
                                        <p><strong>Chức vụ:</strong> {{ selectedEmployee.chucVu.tenChucVu === 'ADMIN' ? 'Quản lý' : 'Nhân viên' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Trạng thái và ghi chú -->
                        <div class="card mb-3 shadow-sm">
                            <div class="card-body py-2 px-4">
                                <h6 class="card-title text-secondary mb-2">Trạng thái và ghi chú</h6>
                                <div class="row">
                                    <div class="col-6">
                                        <p><strong>Trạng thái: </strong>
                                            <span
                                                class="badge {{ selectedEmployee.trangThai === 'ACTIVE' ? 'bg-success' : 'bg-xanh-lam' }}">
                                                {{ selectedEmployee.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt động' }}
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p><strong>Ghi chú:</strong> {{ selectedEmployee.ghiChu || 'Không có ghi chú' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Địa chỉ -->
                        <div class="card shadow-sm">
                            <div class="card-body py-2 px-4">
                                <h6 class="card-title text-secondary mb-2">Địa chỉ</h6>
                                <p>{{ selectedEmployee.diaChi }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer py-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <!-- Phân trang -->
            <div class="mt-3 d-flex justify-content-end align-items-center pagination-buttons">
                <button [disabled]="paginatinonOfEmployee.first" (click)="handlePageEmployeeChange('pre')"
                    class="btn btn-outline-primary mx-2 custom-pagination-button"
                    [ngClass]="{'disabled': paginatinonOfEmployee.first}">
                    <i class="fa-solid fa-angle-left"></i>
                </button>

                <span class="page-indicator mx-3 text-muted">
                    Trang {{ paginatinonOfEmployee.page + 1 }} / {{ paginatinonOfEmployee.totalPages }}
                </span>

                <button [disabled]="paginatinonOfEmployee.last" (click)="handlePageEmployeeChange('next')"
                    class="btn btn-outline-primary mx-2 custom-pagination-button"
                    [ngClass]="{'disabled': paginatinonOfEmployee.last}">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>