<div class="list-employee-zone">
    <h1 class="text-center">QUẢN LÝ NHÂN VIÊN</h1>
    <div class="card">
        <div class="card-header">
            <h5 class="title-component">Danh sách nhân viên</h5>
            <div class="button-group">
                <button class="btn btn-create" (click)="navigateToAddEmployee()">
                    <i class="fa-regular fa-square-plus"></i> Thêm nhân viên
                </button>
                <button class="btn btn-exportexcel">
                    <i class="fa-regular fa-file-excel"></i> Xuất excel
                </button>
            </div>
        </div>
        <div class="card-body">
            <br>
            <div class="d-flex justify-content-center">
                <form class="w-75">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Mã nhân viên</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Tên nhân viên</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Số điện thoại</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>                        
                        <div class="col-lg-12 text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">Tất cả</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <button class="btn btn-info mx-2">Chọn lại</button>
                            <button class="btn btn-info mx-2">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Mã nhân viên</th>
                        <th>Tên nhân viên</th>
                        <th>Ngày sinh</th>
                        <th>Địa chỉ</th>
                        <th>Giới tính</th>
                        <th>SĐT</th>
                        <th>Email</th>
                        <th>Chức vụ</th>
                        <th>Trạng thái</th>
                        <th>Ghi chú</th>
                        <th>Hành động</th>
                    </tr>
                    <tr *ngFor="let nv of nhanViens">
                        <td>{{ nv.idNhanVien }}</td>
                        <td>{{ nv.maNhanVien }}</td>
                        <td>{{ nv.hoTen }}</td>
                        <td>{{ nv.ngaySinh }}</td>
                        <td>{{ nv.diaChi }}</td>
                        <td>
                            <span class="status-tag">{{ nv.gioiTinh === true ? 'Nam' : 'Nữ' }}</span>
                        </td>
                        <td>{{ nv.soDienThoai }}</td>
                        <td>{{ nv.email }}</td>
                        <td>{{ nv.chucVu.tenChucVu }}</td>
                        <td>
                            <span class="status-tag">{{ nv.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt động'
                                }}</span>
                        </td>
                        <td>{{ nv.ghiChu }}</td>
                        <td>
                            <button (click)="handleDetailEmployee(nv)" class="btn eye-btn" data-bs-toggle="modal"
                                data-bs-target="#detailEmployeeModal">
                                <i class="fa-regular fa-eye" title="Chi tiết"></i>
                            </button>
                            <button (click)="handleUpdateEmployee(nv)" class="btn edit-btn">
                                <i class="fa-solid fa-pen-to-square" title="Chỉnh sửa"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Modal Chi Tiết Nhân Viên -->
        <div class="modal fade" id="detailEmployeeModal" tabindex="-1" aria-labelledby="detailEmployeeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white py-2">
                        <h5 class="modal-title fw-bold" id="detailEmployeeModalLabel">Chi tiết nhân viên</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body px-4 py-3">
                        <!-- Thông tin cơ bản -->
                        <div class="card mb-3 shadow-sm">
                            <div class="card-body py-2 px-4">
                                <h6 class="card-title text-secondary mb-2">Thông tin nhân viên</h6>
                                <div class="row">
                                    <div class="col-6">
                                        <p><strong>ID:</strong> {{ selectedEmployee.idNhanVien }}</p>
                                        <p><strong>Mã:</strong> {{ selectedEmployee.maNhanVien }}</p>
                                        <p><strong>Tên:</strong> {{ selectedEmployee.hoTen }}</p>
                                        <p><strong>Ngày sinh:</strong> {{ selectedEmployee.ngaySinh }}</p>
                                    </div>
                                    <div class="col-6">
                                        <p><strong>Giới tính:</strong>
                                            <span class="badge bg-info text-dark">{{ selectedEmployee.gioiTinh ? 'Nam' :
                                                'Nữ' }}</span>
                                        </p>
                                        <p><strong>SĐT:</strong> {{ selectedEmployee.soDienThoai }}</p>
                                        <p><strong>Email:</strong> {{ selectedEmployee.email }}</p>
                                        <p><strong>Chức vụ:</strong> {{ selectedEmployee.chucVu.tenChucVu }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Trạng thái và ghi chú -->
                        <div class="card mb-3 shadow-sm">
                            <div class="card-body py-2 px-4">
                                <h6 class="card-title text-secondary mb-2">Trạng thái và ghi chú</h6>
                                <div class="row">
                                    <div class="col-6">
                                        <p><strong>Trạng thái:</strong>
                                            <span
                                                class="badge {{ selectedEmployee.trangThai === 'ACTIVE' ? 'bg-success' : 'bg-danger' }}">
                                                {{ selectedEmployee.trangThai === 'ACTIVE' ? 'Hoạt động' : 'Ngừng hoạt
                                                động' }}
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-6">
                                        <p><strong>Ghi chú:</strong> {{ selectedEmployee.ghiChu || 'Không có ghi chú' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Địa chỉ -->
                        <div class="card shadow-sm">
                            <div class="card-body py-2 px-4">
                                <h6 class="card-title text-secondary mb-2">Địa chỉ</h6>
                                <p>{{ selectedEmployee.diaChi }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer py-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <!-- Pagination Buttons -->
            <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="page === 0">
                        <a class="page-link" (click)="changePage(page = 0)" aria-label="Previous">
                            <span aria-hidden="true">Đầu</span>
                        </a>
                    </li>
                    <li class="page-item" [class.disabled]="page === 0">
                        <a class="page-link" (click)="changePage(page - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                        [class.active]="page === i">
                        <a class="page-link" (click)="changePage(i)">{{ i + 1 }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="page === totalPages - 1">
                        <a class="page-link" (click)="changePage(page + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item" [class.disabled]="page === totalPages - 1">
                        <a class="page-link" (click)="changePage(page = totalPages - 1)" aria-label="Previous">
                            <span aria-hidden="true">Cuối</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>