.cart-zone {
    width: 90%;
    margin: auto;
    height: 80vh; 
}
.checkout-zone {
    width: 90%;
    margin: auto;
    height: 80vh; 

}
.modal-chondiachikhachhang {
    min-width: 40%;
}
.modal-chonphieugiamgia {
    min-width: 50%;
}