.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.text-center h1 {
  font-size: 100;
  color: black; 
  margin: 0;
  padding-bottom: 10px;
}

.text-center {
  background-color: #f9f9f9; /* nền nhạt */
  border-radius: 8px; /* bo tròn góc */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* hiệu ứng bóng mờ */
  max-width: 1500px;
  margin: 0 auto; /* căn giữa container */
}



.cart-table-header, .cart-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  color: #555;
}

.header-item, .item-price, .item-quantity, .item-total, .item-action {
  text-align: center;
}

.select-all, .item-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-image {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.product-info {
  display: inline-block;
  text-align: left;
}

.product-name {
  font-weight: 600;
  color: #333;
  margin: 0;
}

.product-attribute {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.item-price, .item-quantity, .item-total, .item-action {
  font-weight: 500;
  color: #333;
}


.original-price {
  text-decoration: line-through; /* Gạch ngang cho giá gốc */
  margin-right: 10px; /* Thêm khoảng cách giữa giá gốc và giá giảm */
  color: #888; /* Màu sắc nhạt hơn cho giá gốc */
}

.discounted-price {
  font-weight: bold;
  color: black; /* Màu đỏ cho giá đã giảm */
}


.quantity-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.quantity-input {
  width: 40px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.total-price {
  font-weight: bold;
  color: black;
}

.delete-btn {
  background-color: transparent;
  color: #504849;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.total-section {
  display: flex;
  align-items: end;
  margin-bottom: 15px; /* Tạo khoảng cách giữa total-section và các nút */
}

.cart-summary {
  display: flex;
  flex-direction: column; /* Đặt các phần tử theo cột */
  align-items: flex-end;
  padding-top: 20px;
  margin-left: auto;
}

.total-section {
  display: flex;
  align-items: center;
}

.total-amount {
  font-size: 20px;
  font-weight: bold;
  color: #120305;
  margin-left: 10px;
}


