<div class="form-zone">
    <form (ngSubmit)="submitAdd()" #couponsForm="ngForm" class="bg-light p-4 rounded shadow">
        <p class="title-form">Thêm phiếu giảm giá mới</p>
        <hr class="dashed-line">

        <!-- Tên Phiếu Giảm Giá -->
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="tenPhieuGiamGia" class="form-label">Tên Phiếu Giảm Giá<span
                            class="required">*</span></label>
                    <input type="text" class="form-control" id="tenPhieuGiamGia" placeholder="Nhập tên phiếu giảm giá"
                        [(ngModel)]="newCoupons.tenPhieuGiamGia" name="tenPhieuGiamGia" required>
                    <div *ngIf="couponsForm.submitted && !couponsForm.controls['tenPhieuGiamGia']?.valid"
                        class="text-danger">
                        Tên phiếu giảm giá không được để trống.
                    </div>
                </div>
            </div>
            <!-- Mô Tả -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="moTa" class="form-label">Mô Tả<span class="required">*</span></label>
                    <input type="text" class="form-control" id="moTa" placeholder="Nhập mô tả"
                        [(ngModel)]="newCoupons.moTa" name="moTa" required>
                    <div *ngIf="couponsForm.submitted && !couponsForm.controls['moTa']?.valid" class="text-danger">
                        Mô tả không được để trống.
                    </div>
                </div>
            </div>
            <!-- Số lượng -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="soLuong" class="form-label">Số lượng phiếu giảm giá<span
                            class="required">*</span></label>
                    <input type="number" class="form-control" id="soLuong" placeholder="Nhập số lượng phiếu giảm giá"
                        [(ngModel)]="newCoupons.soLuong" name="soLuong" required>
                    <div *ngIf="couponsForm.submitted && !couponsForm.controls['soLuong']?.valid" class="text-danger">
                        Số lượng phiếu giảm giá không được để trống.
                    </div>
                </div>
            </div>
        </div>
        <br>


        <!-- Ngày Bắt Đầu và Ngày Kết Thúc -->
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="ngayBatDau" class="form-label">Ngày Bắt Đầu<span class="required">*</span></label>
                    <input type="date" class="form-control" id="ngayBatDau" [(ngModel)]="newCoupons.ngayBatDau"
                        min="{{ getTodayDate() }}" name="ngayBatDau" required>
                    <div *ngIf="couponsForm.submitted && !couponsForm.controls['ngayBatDau']?.valid"
                        class="text-danger">
                        Ngày bắt đầu không được để trống.
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="ngayKetThuc" class="form-label">Ngày Kết Thúc<span class="required">*</span></label>
                    <input type="date" class="form-control" id="ngayKetThuc" [(ngModel)]="newCoupons.ngayKetThuc"
                        min="{{ newCoupons.ngayBatDau }}" name="ngayKetThuc" required>
                    <div *ngIf="couponsForm.submitted && !couponsForm.controls['ngayKetThuc']?.valid"
                        class="text-danger">
                        Ngày kết thúc không được để trống.
                    </div>
                    <div *ngIf="isDateInvalid && couponsForm.submitted" class="text-danger mb-4">
                        Ngày kết thúc không thể nhỏ hơn ngày bắt đầu! Vui lòng nhập lại.
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <!-- Loại Giảm và Giá Trị Giảm -->
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="loaiGiam" class="form-label">Loại Giảm | Giá trị giảm<span class="required">*</span></label>
                    <select class="form-select" id="loaiGiam" [(ngModel)]="newCoupons.loaiGiam" name="loaiGiam"
                        required>
                        <option value="" disabled selected>--- Chọn loại giảm ---</option>
                        <option value="PERCENT">Theo phần trăm</option>
                        <option value="MONEY">Theo số tiền</option>
                    </select>
                </div>
            </div>
            <!-- Giá trị giảm theo phần trăm hoặc số tiền -->
            <div class="col-lg-4 mt-4 ms-2 d-flex align-items-center" *ngIf="newCoupons.loaiGiam">
                <div class="input-group">
                    <input type="number" class="form-control" id="giaTriGiam" placeholder="Nhập giá trị giảm"
                        [(ngModel)]="newCoupons.giaTriGiam" name="giaTriGiam" required>
                    <span *ngIf="newCoupons.loaiGiam === 'PERCENT'" class="input-group-text">%</span>
                    <span *ngIf="newCoupons.loaiGiam === 'MONEY'" class="input-group-text">VNĐ</span>
                </div>
            </div>
            <div class="mt-4 d-flex align-items-center"
                *ngIf="newCoupons.loaiGiam === 'PERCENT' && newCoupons.giaTriGiam > 100" class="text-danger mt-4 ms-2">
                Giá trị giảm không được vượt quá 100%.
            </div>
        </div>
        <!-- Giá trị giảm theo phần trăm -->
        <div class="row" *ngIf="newCoupons.loaiGiam === 'PERCENT'">
            <div class="col-lg-6">
                <label for="giaTriGiamToiDa" class="form-label">Giá Trị Giảm Tối Đa<span
                        class="required">*</span></label>
                <input type="number" class="form-control" id="giaTriGiamToiDa" placeholder="Nhập giá trị tối đa"
                    [(ngModel)]="newCoupons.giaTriGiamToiDa" name="giaTriGiamToiDa" required>
                <div *ngIf="couponsForm.submitted && !couponsForm.controls['giaTriGiamToiDa']?.valid"
                    class="text-danger">
                    Giá trị giảm tối đa không được để trống.
                </div>
            </div>
            <div class="col-lg-6">
                <label for="giaTriDonHangToiThieu" class="form-label">Giá Trị Đơn Hàng Tối Thiểu<span
                        class="required">*</span></label>
                <input type="number" class="form-control" id="giaTriDonHangToiThieu"
                    placeholder="Nhập giá trị tối thiểu" [(ngModel)]="newCoupons.giaTriHoaDonToiThieu"
                    name="giaTriDonHangToiThieu" required>
                <div *ngIf="couponsForm.submitted && !couponsForm.controls['giaTriDonHangToiThieu']?.valid"
                    class="text-danger">
                    Giá trị đơn hàng tối thiểu không được để trống.
                </div>
            </div>
        </div>

        <!-- Giá trị đơn hàng tối thiểu -->
        <div class="row mb-4" *ngIf="newCoupons.loaiGiam === 'MONEY'">
            <div class="col-lg-6">
                <label for="giaTriDonHangToiThieu" class="form-label">Giá Trị Đơn Hàng Tối Thiểu<span
                        class="required">*</span></label>
                <input type="number" class="form-control" id="giaTriDonHangToiThieu"
                    placeholder="Nhập giá trị tối thiểu" [(ngModel)]="newCoupons.giaTriHoaDonToiThieu"
                    name="giaTriDonHangToiThieu" required>
                <div *ngIf="couponsForm.submitted && !couponsForm.controls['giaTriDonHangToiThieu']?.valid"
                    class="text-danger">
                    Giá trị đơn hàng tối thiểu không được để trống.
                </div>
            </div>
        </div>
        <div>
            <!-- Submit Button -->
            <div class="d-flex justify-content-end">
                <button type="button" class="btn-custom btn-back" (click)="handleBackToListCoupons()">
                    <i class="fa-solid fa-arrow-left"></i> Quay lại
                </button>
                <button type="submit" class="btn-custom btn-create">
                    <i class="fa-regular fa-square-plus"></i> Thêm phiếu giảm giá
                </button>
            </div>
        </div>
    </form>
</div>