<div class="form-zone">

    <form [formGroup]="form" (ngSubmit)="handleSubmitFormProduct()">
        <p class="title-form">Thêm chi tiết sản phẩm mới</p>
        <hr class="dashed-line">

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="tenSanPham">Tên sản phẩm <span class="required">*</span></label>
                    <input [disabled]=" mode=== ''" placeholder="Tên sản phẩm" formControlName="tenSanPham" type="text"
                        name="tenSanPham" id="tenSanPham" class="form-control">
                    <div *ngIf="form.get('tenSanPham')?.invalid && form.get('tenSanPham')?.touched">
                        <small *ngIf="form.get('tenSanPham')?.hasError('required')">Tên sản phẩm là bắt buộc</small>
                        <small *ngIf="form.get('tenSanPham')?.hasError('minlength')">Tên sản phẩm phải lớn hơn 4 ký
                            tự</small>
                        <small *ngIf="form.get('tenSanPham')?.hasError('maxlength')">Tên sản phẩm phải nhỏ hơn 255 ký
                            tự</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="moTa">Mô Tả</label>
                    <textarea placeholder="Mô tả" formControlName="moTa" type="text-are" name="moTa" id="moTa"
                        class="form-control">
                        </textarea>
                    <div *ngIf="form.get('moTa')?.invalid && form.get('moTa')?.touched">
                        <small *ngIf="form.get('moTa')?.hasError('maxlength')">Mô tả phải nhỏ hơn 500 ký tự</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="danhMuc">Danh mục <span class="required">*</span></label>
                    <select formControlName="danhMuc" class="form-select text-center" id="danhMuc">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn danh mục ---</option>
                        <option *ngFor="let dm of danhMucs" [ngValue]="dm">{{ dm.tenDanhMuc }}</option>
                    </select>
                    <div *ngIf="form.get('danhMuc')?.invalid && form.get('danhMuc')?.touched">
                        <small *ngIf="form.get('danhMuc')?.hasError('required')">Danh mục không được để trống</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="thuongHieu">Thương hiệu <span class="required">*</span></label>
                    <select formControlName="thuongHieu" class="form-select text-center" id="thuongHieu">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn thương hiệu ---</option>
                        <option *ngFor="let th of thuongHieus" [ngValue]="th">{{ th.tenThuongHieu }}</option>

                    </select>
                    <div *ngIf="form.get('thuongHieu')?.invalid && form.get('thuongHieu')?.touched">
                        <small *ngIf="form.get('thuongHieu')?.hasError('required')">Thương hiệu không được đê
                            trống</small>
                    </div>
                </div>
            </div>
        </div>
        <hr class="dashed-line">
        <div formGroupName="sanPhamChiTiet">
            <div class="row">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="kieuDeGiay">Kiểu đế giày <span class="required">*</span></label>
                        <select (change)="genSPCT()" formControlName="kieuDeGiay" class="form-select text-center"
                            id="kieuDeGiay">
                            <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn kiểu đế giày ---
                            </option>
                            <option *ngFor="let kdg of kieuDeGiays" [ngValue]="kdg">{{ kdg.tenKieuDeGiay }}</option>
                        </select>
                        <div
                            *ngIf="form.get('sanPhamChiTiet.kieuDeGiay')?.invalid && form.get('sanPhamChiTiet.kieuDeGiay')?.touched">
                            <small *ngIf="form.get('sanPhamChiTiet.kieuDeGiay')?.hasError('required')">Kiểu đế giày
                                không được để trống</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="trongLuong">Trọng lượng <span class="required">*</span></label>
                        <select (change)="genSPCT()" formControlName="trongLuong" class="form-select text-center"
                            id="trongLuong">
                            <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn trọng lượng ---
                            </option>
                            <option *ngFor="let tl of trongLuongs" [ngValue]="tl">{{ tl.giaTri }}</option>
                        </select>
                        <div
                            *ngIf="form.get('sanPhamChiTiet.trongLuong')?.invalid && form.get('sanPhamChiTiet.trongLuong')?.touched">
                            <small *ngIf="form.get('sanPhamChiTiet.trongLuong')?.hasError('required')">Trọng lượng không
                                được để trống</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="chatLieuDeGiay">Chất liệu đế giày <span class="required">*</span></label>
                        <select (change)="genSPCT()" formControlName="chatLieuDeGiay" class="form-select text-center"
                            id="chatLieuDeGiay">
                            <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn chất liệu đế giày
                                ---
                            </option>
                            <option *ngFor="let cldg of chatLieuDeGiays" [ngValue]="cldg">{{ cldg.tenChatLieuDeGiay }}
                            </option>
                        </select>
                        <div
                            *ngIf="form.get('sanPhamChiTiet.chatLieuDeGiay')?.invalid && form.get('sanPhamChiTiet.chatLieuDeGiay')?.touched">
                            <small *ngIf="form.get('sanPhamChiTiet.chatLieuDeGiay')?.hasError('required')">Chất liệu đế
                                giày không được để trống</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="chatLieuDeGiay">Chất liệu <span class="required">*</span></label>
                        <select (change)="genSPCT()" formControlName="chatLieu" class="form-select  text-center"
                            id="chatLieu">
                            <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn chất liệu ---
                            </option>
                            <option *ngFor="let cl of chatLieus" [ngValue]="cl">{{ cl.tenChatLieu }}</option>
                        </select>
                        <div
                            *ngIf="form.get('sanPhamChiTiet.chatLieu')?.invalid && form.get('sanPhamChiTiet.chatLieu')?.touched">
                            <small *ngIf="form.get('sanPhamChiTiet.chatLieu')?.hasError('required')">Chất liệu không
                                được để trống</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="mauSac">Màu sắc <span class="required">*</span></label>
                        <ng-multiselect-dropdown (onSelect)="genSPCT()" (onDeSelect)="genSPCT()"
                            (onSelectAll)="genSPCT()" (onDeSelectAll)="genSPCT()" [placeholder]="'Chọn màu sắc'"
                            [data]="mauSacs" [settings]="dropdownSettingForColor" formControlName="mauSac">
                        </ng-multiselect-dropdown>
                    </div>
                    <div
                        *ngIf="form.get('sanPhamChiTiet.mauSac')?.invalid && form.get('sanPhamChiTiet.mauSac')?.touched">
                        <small *ngIf="form.get('sanPhamChiTiet.mauSac')?.hasError('required')">Màu sắc không được để
                            trống</small>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="kichCo">Kích cỡ giày <span class="required">*</span></label>
                        <ng-multiselect-dropdown (onSelect)="genSPCT()" (onDeSelect)="genSPCT()"
                            (onSelectAll)="genSPCT()" (onDeSelectAll)="genSPCT()" [placeholder]="'Chọn kích cỡ'"
                            [data]="kichCos" [settings]="dropdownSettingForSize" formControlName="kichCo">
                        </ng-multiselect-dropdown>
                        <div
                            *ngIf="form.get('sanPhamChiTiet.kichCo')?.invalid && form.get('sanPhamChiTiet.kichCo')?.touched">
                            <small *ngIf="form.get('sanPhamChiTiet.kichCo')?.hasError('required')">Kích cỡ không được để
                                trống</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button (click)="handleBackToListProduct()" type="button" class="btn-custom btn-back"><i
                    class="fa-solid fa-arrow-left"></i> Quay lại </button>
            <button (click)="handleCreateNewSP()" type="submit" class="btn-custom btn-create"> <i
                    class="fa-regular fa-square-plus"></i> Thêm sản
                phẩm</button>
            <button (click)="genSPCT()" type="button" class="btn btn-success">Gen spct</button>
        </div>
    </form>
</div>

<h3 class="text-center" *ngIf="sanPhamChiTiets.length">DANH SÁCH SẢN PHẨM CHI TIẾT</h3>
<div *ngFor="let colorId of colorIds" class="gen-spct-zone">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Tên sản phẩm chi tiết</th>
                    <th>Kích cỡ</th>
                    <th>Màu sắc</th>
                    <th>Chất liệu</th>
                    <th>Trọng lượng</th>
                    <th>Kiểu đế giày</th>
                    <th>Chất liệu đế giày</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Chỉnh sửa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let spct of groupedSanPhamChiTiet[colorId]">
                    <td>{{ form.get('tenSanPham')?.value }} [{{ spct?.mauSac?.tenMau }} - {{ spct?.kichCo?.giaTri }}]
                    </td>
                    <td>{{ spct?.kichCo?.giaTri }}</td>
                    <td>
                        <button class="btn" [ngStyle]="{'background-color': spct.mauSac.maMauSac}">
                            {{ spct.mauSac.tenMau }}
                        </button>
                    </td>
                    <td>{{ spct?.chatLieu?.tenChatLieu }}</td>
                    <td>{{ spct?.trongLuong?.giaTri }}</td>
                    <td>{{ spct?.kieuDeGiay?.tenKieuDeGiay }}</td>
                    <td>{{ spct?.chatLieuDeGiay?.tenChatLieuDeGiay }}</td>

                    <!-- Input Giá -->
                    <td>
                        <input *ngIf="spct.isEditable" [(ngModel)]="spct.gia" type="number" class="form-control" />
                        <span *ngIf="!spct.isEditable">{{ spct?.gia | currency: 'VND' : 'symbol-narrow' }}</span>
                    </td>

                    <!-- Input Số lượng -->
                    <td>
                        <input *ngIf="spct.isEditable" [(ngModel)]="spct.soLuong" type="number" class="form-control" />
                        <span *ngIf="!spct.isEditable">{{ spct?.soLuong }}</span>
                    </td>

                    <!-- Checkbox để bật chỉnh sửa -->
                    <td class="text-center">
                        <input type="checkbox" [(ngModel)]="spct.isEditable" />
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <input type="file" (change)="onFileSelected(1, $event)" multiple accept="image/*" />
        </div>
         <!-- Hiển thị ảnh đã chọn
         <div class="image-preview">
            <h4>Xem trước ảnh:</h4>
            <div class="preview-images">
                <img *ngFor="let image of selectedImages[colorId]" [src]="image" class="img-thumbnail" />
            </div>
            <div *ngIf="selectedImages[colorId]?.length > 3" class="text-danger">
                Bạn chỉ có thể chọn tối đa 3 ảnh.
            </div>
        </div> -->
    </div>

</div>