
  form {
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;

    .title-combo {
      color: #999;
      font-style: italic;
      opacity: 0.7;
      font-size: small;
    }

    label {
      font-weight: 600;
      font-size: 15px;
    }

    small {
      color: red;
      display: block;
      margin: 0;
    }

    .row {
      margin: 20px;
    }

  }
.form-control {
  border: dashed 1px lightgray;
}

.form-select {
  border: dashed 1px lightgray;
}

input::placeholder,
textarea::placeholder {
  color: #999;
  font-style: italic;
  opacity: 0.7;
  font-size: small;
}


.gen-spct-zone {
  border-radius: 15px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.dropdown-btn {
  border: dashed 1px lightgray;
}
// ::ng-deep .multiselect-dropdown {
//   color: red; /* Áp dụng màu đỏ cho tất cả văn bản trong dropdown */
//   border: none;

// }

::ng-deep .multiselect-dropdown .dropdown-btn {
  background-color: white; /* Nền cho nút dropdown */
  border: dashed 1px lightgray !important;
}


::ng-deep .selected-item-container {
  display: flex !important;
  flex-wrap: wrap; /* Cho phép xuống dòng nếu cần thiết */
}

::ng-deep .selected-item-container .selected-item {
  background-color: #ff0000 !important; /* Màu nền cho item đã chọn */
  border-radius: 4px; /* Bo góc cho item đã chọn */
  padding: 5px; /* Khoảng cách bên trong */
  color: white !important; /* Màu chữ cho item đã chọn */
  width: auto !important; /* Chiều rộng tự động cho phép hiển thị toàn bộ văn bản */
  min-width: 100px; /* Đặt chiều rộng tối thiểu để hiển thị một số nội dung */
  max-width: calc(100% - 30px); /* Đảm bảo có khoảng trống cho nút x */
  white-space: nowrap; /* Ngăn chặn xuống dòng */
  overflow: hidden; /* Ẩn phần văn bản vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm nếu có quá nhiều văn bản */
  display: inline-flex; /* Giúp quản lý chiều cao cho item */
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
}

th {
  text-align: center;
}


.image-preview {
  width: 250px;
  height: 250px;
}
