<div class="form-zone">

    <form [formGroup]="form">
        <p class="title-form">Thêm sản phẩm mới</p>
        <hr class="dashed-line">

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="tenSanPham">Tên sản phẩm <span class="required">*</span></label>
                    <input placeholder="Tên sản phẩm" formControlName="tenSanPham" type="text" name="tenSanPham"
                        id="tenSanPham" class="form-control">
                    <div *ngIf="form.get('tenSanPham')?.invalid && form.get('tenSanPham')?.touched">
                        <small *ngIf="form.get('tenSanPham')?.hasError('required')">Tên sản phẩm là bắt buộc</small>
                        <small *ngIf="form.get('tenSanPham')?.hasError('minlength')">Tên sản phẩm phải lớn hơn 4 ký
                            tự</small>
                        <small *ngIf="form.get('tenSanPham')?.hasError('maxlength')">Tên sản phẩm phải nhỏ hơn 255 ký
                            tự</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="moTa">Mô Tả</label>
                    <textarea placeholder="Mô tả" formControlName="moTa" type="text-are" name="moTa" id="moTa"
                        class="form-control">
                        </textarea>
                    <div *ngIf="form.get('moTa')?.invalid && form.get('moTa')?.touched">
                        <small *ngIf="form.get('moTa')?.hasError('maxlength')">Mô tả phải nhỏ hơn 500 ký tự</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="danhMuc">Danh mục <span class="required">*</span></label>
                    <select formControlName="danhMuc" class="form-select text-center" id="danhMuc">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn danh mục ---</option>
                        <option *ngFor="let dm of danhMucs" [ngValue]="dm">{{ dm.tenDanhMuc }}</option>
                    </select>
                    <div *ngIf="form.get('danhMuc')?.invalid && form.get('danhMuc')?.touched">
                        <small *ngIf="form.get('danhMuc')?.hasError('required')">Danh mục không được để trống</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="thuongHieu">Thương hiệu <span class="required">*</span></label>
                    <select formControlName="thuongHieu" class="form-select text-center" id="thuongHieu">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn thương hiệu ---</option>
                        <option *ngFor="let th of thuongHieus" [ngValue]="th">{{ th.tenThuongHieu }}</option>

                    </select>
                    <div *ngIf="form.get('thuongHieu')?.invalid && form.get('thuongHieu')?.touched">
                        <small *ngIf="form.get('thuongHieu')?.hasError('required')">Thương hiệu không được đê
                            trống</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="trongLuong">Trọng lượng <span class="required">*</span></label>
                    <select formControlName="trongLuong" class="form-select text-center" id="trongLuong">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn trọng lượng ---
                        </option>
                        <option *ngFor="let tl of trongLuongs" [ngValue]="tl">{{ tl.giaTri }}</option>
                    </select>
                    <div
                        *ngIf="form.get('trongLuong')?.invalid && form.get('trongLuong')?.touched">
                        <small *ngIf="form.get('trongLuong')?.hasError('required')">Trọng lượng không
                            được để trống</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="chatLieuDeGiay">Chất liệu <span class="required">*</span></label>
                    <select formControlName="chatLieu" class="form-select  text-center" id="chatLieu">
                        <option [selected]="true" [ngValue]="null" class="title-combo">--- Chọn chất liệu ---
                        </option>
                        <option *ngFor="let cl of chatLieus" [ngValue]="cl">{{ cl.tenChatLieu }}</option>
                    </select>
                    <div
                        *ngIf="form.get('chatLieu')?.invalid && form.get('chatLieu')?.touched">
                        <small *ngIf="form.get('chatLieu')?.hasError('required')">Chất liệu không
                            được để trống</small>
                    </div>
                </div>
            </div>
        </div>
        <hr class="dashed-line">
        <div formGroupName="sanPhamChiTiet">
            <p class="title-form">Thuộc tính chi tiết</p>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="mauSac">Màu sắc <span class="required">*</span></label>
                        <ng-multiselect-dropdown (onSelect)="genSPCT()" (onDeSelect)="genSPCT()"
                            (onSelectAll)="genSPCT()" (onDeSelectAll)="genSPCT()" [placeholder]="'Chọn màu sắc'"
                            [data]="mauSacs" [settings]="dropdownSettingForColor" formControlName="mauSac">
                        </ng-multiselect-dropdown>
                    </div>
                    <div
                        *ngIf="form.get('sanPhamChiTiet.mauSac')?.invalid && form.get('sanPhamChiTiet.mauSac')?.touched">
                        <small *ngIf="form.get('sanPhamChiTiet.mauSac')?.hasError('required')">Màu sắc không được để
                            trống</small>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="kichCo">Kích cỡ giày <span class="required">*</span></label>
                        <ng-multiselect-dropdown (onSelect)="genSPCT()" (onDeSelect)="genSPCT()"
                            (onSelectAll)="genSPCT()" (onDeSelectAll)="genSPCT()" [placeholder]="'Chọn kích cỡ'"
                            [data]="kichCos" [settings]="dropdownSettingForSize" formControlName="kichCo">
                        </ng-multiselect-dropdown>
                        <div
                            *ngIf="form.get('sanPhamChiTiet.kichCo')?.invalid && form.get('sanPhamChiTiet.kichCo')?.touched">
                            <small *ngIf="form.get('sanPhamChiTiet.kichCo')?.hasError('required')">Kích cỡ không được để
                                trống</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button (click)="handleBackToListProduct()" type="button" class="btn-custom btn-back"><i
                    class="fa-solid fa-arrow-left"></i> Quay lại </button>
            <button (click)="handleCreateNewSP()" type="submit" class="btn-custom btn-create"> <i
                    class="fa-regular fa-square-plus"></i> Thêm sản
                phẩm</button>
            <button (click)="genSPCT()" type="button" class="btn btn-success">Gen spct</button>
        </div>
    </form>
</div>

<div *ngFor="let colorId of colorIds">
    <div class="gen-spct-container">
        <div class="row">
          <!-- Cột ảnh -->
          <div class="col-12 col-md-5 text-center">
            <h4 class="text-center">Xem trước ảnh:</h4>
            <img
              *ngIf="selectedImages[colorId]"
              [src]="selectedImages[colorId]"
              class="img-thumbnail image-preview"
            />
            <button
              *ngIf="selectedImages[colorId]"
              (click)="removeImage(colorId)"
              class="btn btn-danger mt-2"
            >
              Xóa ảnh
            </button>
            <!-- Upload ảnh -->
            <div class="upload-container mt-3">
              <input
                type="file"
                (change)="onFileSelected(colorId, $event)"
                accept="image/*"
                class="form-control"
              />
            </div>
          </div>
      
          <!-- Cột thông tin sản phẩm -->
          <div class="col-12 col-md-7">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Tên sản phẩm chi tiết</th>
                    <th>Kích cỡ</th>
                    <th>Màu sắc</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Chỉnh sửa</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let spct of groupedSanPhamChiTiet[colorId]">
                    <td>
                      {{ form.get('tenSanPham')?.value }} [{{ spct?.mauSac?.tenMau }} -
                      {{ spct?.kichCo?.giaTri }}]
                    </td>
                    <td>{{ spct?.kichCo?.giaTri }}</td>
                    <td>
                      <button
                        class="btn"
                        [ngStyle]="{'background-color': spct.mauSac.maMauSac}"
                      >
                        {{ spct.mauSac.tenMau }}
                      </button>
                    </td>
                    <td>
                      <input
                        *ngIf="spct.isEditable"
                        [(ngModel)]="spct.gia"
                        type="number"
                        class="form-control"
                      />
                      <span *ngIf="!spct.isEditable">
                        {{ spct?.gia | currency: 'VND' : 'symbol-narrow' }}
                      </span>
                    </td>
                    <td>
                      <input
                        *ngIf="spct.isEditable"
                        [(ngModel)]="spct.soLuong"
                        type="number"
                        class="form-control"
                      />
                      <span *ngIf="!spct.isEditable">{{ spct?.soLuong }}</span>
                    </td>
                    <td class="text-center align-content-center">
                      <input type="checkbox" [(ngModel)]="spct.isEditable" />
                      <button
                        (click)="handleDeleteSPCT(spct, colorId)"
                        class="btn trash-btn"
                      >
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
</div>