.outer-container {
    height: 100vh; /* Chiều cao 100% của viewport */
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    // background: linear-gradient(135deg, #74ebd5, #acb6e5); /* Nền gradient */
  }
  
  .content-wrapper {
    display: flex; /* Flexbox để chia hai phần */
    max-width: 1000px; /* Chiều rộng tối đa cho giao diện */
    width: 100%; /* Chiều rộng 100% cho màn hình nhỏ */
    background: white; /* Nền trắng cho container chính */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .login-container {
    width: 50%; /* Chiếm 50% không gian */
    padding: 30px;
    display: flex;
    flex-direction: column; /* Hiển thị theo cột */
    justify-content: center;
  }
  
  .login-form {
    text-align: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #D60F20;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    font-size: 14px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus {
    outline: none;
    border-color: #D60F20;
  }
  
  .btn-login {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #d64e5a, #D60F20);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn-login:hover {
    background: linear-gradient(135deg, #d64e5a, #D60F20);
  }
  
  .extra-actions {
    margin-top: 15px;
  }
  
  .extra-actions a {
    color: #D60F20;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
  }
  
  .extra-actions a:hover {
    text-decoration: underline;
  }
  
  /* Phần hình ảnh */
  .image-container {
    width: 50%; /* Chiếm 50% không gian */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  
  .image-container img {
    background-color: white;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  